---
layout: post
status: publish
published: true
title: Done is better than Perfect
author:
  display_name: yoonsy
  login: nscorpio16
  email: nscorpio16@gmail.com
  url: http://yoonsy.kr
author_login: nscorpio16
author_email: nscorpio16@gmail.com
author_url: http://yoonsy.kr
wordpress_id: 161
wordpress_url: http://yoonsy.kr/?p=161
date: '2012-10-25 07:50:52 +0900'
date_gmt: '2012-10-25 07:50:52 +0900'
categories:
- "일상"
tags:
- "명언"
- "완벽주의자"
comments: []
---
<p><a href="http://yoonsy.kr/wp/wp-content/uploads/2012/10/Done-is-Better-than-Perfect.jpg"><img class="aligncenter size-medium wp-image-162" title="Done-is-Better-than-Perfect" src="http://yoonsy.kr/wp/wp-content/uploads/2012/10/Done-is-Better-than-Perfect-300x206.jpg" alt="" width="300" height="206" /></a></p></p>
<p>업무에 있어서 혹은 여태껏 살아오면서 완벽한 길이 어떤길일까.</p></p>
<p>이것보다 더 좋은 방법이 분명 있을것 같은데!</p></p>
<p>라는 생각때문에 진행속도가 늦어지는 경우가 많았다.</p></p>
<p>사실 살아가다보면 정답이 있는 경우가 그리 많지않은것 같다.</p></p>
<p>완벽한 방법이라는 확신이 없더라 하더라도</p></p>
<p>우선 이 길을 걸어가면서 차차 고쳐나가는 방법이 더 괜찮은 방법이라는것을 깨달았다.</p></p>
