---
layout: post
status: publish
published: true
title: "일의 성과만 좋으면 된다! - ROWE"
author:
  display_name: yoonsy
  login: nscorpio16
  email: nscorpio16@gmail.com
  url: http://yoonsy.kr
author_login: nscorpio16
author_email: nscorpio16@gmail.com
author_url: http://yoonsy.kr
wordpress_id: 61
wordpress_url: http://yoonsy.kr/?p=61
date: '2012-09-15 00:06:16 +0900'
date_gmt: '2012-09-15 00:06:16 +0900'
categories:
- "미분류"
tags:
- ROWE
- "근무환경"
- "야근"
comments: []
---
<h3>ROWE</h3></p>
<p>ROWE (Results Only Work Environment) 는 일한 시간이나 근무태도가 아닌 업무의 성과에 중점을두는 경영전략이다. 이 개념을 정의한 <a href="http://www.gorowe.com/about/about-cali-jody/">Cali Ressler and Jody Thompson</a> 말에 따르면, 직원들이 회사에 출근했는지가 중요한게 아니라, 직원들이 일한 성과가 얼마나 나오는지가 중요하다고 한다. 너무나도 당연한 말이다. 고용주가 공감할 것이고, 고용당한자가 인정할 것이다.</p>
<p>대학다닐 때, 바래왔던 일터의 모습이 저랬다. 집중이 될 때에는 최대한 집중해서 일을 하고, 집중이 되지 않을 때에는 놀면서 머리를 식히는. 그런 일터를 원했었다. 이런 생각을 가지게 된 배경에는, 상사가 퇴근해야 부하직원이 퇴근하는 한국 직장인의 모습을 많이 봐왔기 때문인지도 모르겠다. 이 얼마나 불필요한 에너지낭비인가. 집에가서 가족들과 저녁도 먹어야 하고, 드라마도 봐야 하고, 운동도 해야하고, 인간으로서 해야할 일들이 너무나도 많은데 상사가 퇴근하지 않았다는 이유로 자리를 지키고 있는것은 시간낭비를 넘어 국력낭비라고 생각한다. 그나마 다행인것은 최근에는 그러한 모습이 많이 사라지고 있다는 점이다.</p>
<p>하지만 회사에서의 불필요한 시간낭비는 여전히 존재하고 있다.</p>
<ul>
<li>자신의 존재 이유가 불명확한 회의 참석</li>
<li>주위 동료들이 걸어오는 잡담</li>
<li>월요일이라 티타임, 화요일이라 티타임, 수요일이라 티타임, 동료 생일이라 티타임</li>
<li>각종 사내외 행사</li>
<li>등등등... </li><br />
</ul></p>
<p>업무를 해야하는 8시간 중 몇 시간을 일하는데 투자할 수 있을까 라는 의문이든다.</p>
<hr />
<h4>ROWE의 13가지 원칙</h4></p>
<p><img src="http://image.yes24.com/goods/4374675/L" alt="로우" /></p>
<p>위 책 R.O.W.E. 에서 말하는 13가지 원칙은 아래와 같다.</p>
<ol>
<li>지위 고하를 막론하고 모든 임직원은 자신이나 고객, 또는 회사의 시간을 낭비하는 일체의 활동을 중단한다.</li>
<li>직원들은 원하는 방식대로 일할 자율권을 가진다.</li>
<li>어느 날이든 토요일처럼 느낀다.</li>
<li>업무가 제대로 처리되는 한 직원은 무제한의 유급휴가를 가진다.</li>
<li>일이란 사무실에 출근하는 것을 가르키는 것이 아니라 실제로 뭔가를 하는 것이다.</li>
<li>오후 2시에 출근해도 지각으로 간주하지 않으며 오후 2시에 퇴근을 해도 조퇴로 간주하지 않는다.</li>
<li>아무도 자신이 몇 시간 근무한다고 말하지 않는다.</li>
<li>모든 회의는 선택이며 의무가 아니다.</li>
<li>수요일 아침에 쇼핑을 하든, 화요일 오후에 극장에서 영화를 관람하든, 목요일 오후에 낮잠을 자든 아무런 문제가 될 게 없다.</li>
<li>고정된 근무 일정이 따로 없다.</li>
<li>아무도 죄책감을 느끼지 않으며, 과로하지도 스트레스를 받지도 않는다.</li>
<li>예고 없이 급박한 업무가 발생함으로써 시간에 쫓기며 서두르는 일이 없다.</li>
<li>각자 시간을 어떻게든 활용하든 아무도 부정적으로 보지 않는다.</li><br />
</ol></p>
<hr />
<p>물론 한국의 기업(특히 대기업)에서의 ROWE 문화 실현 가능성은 매우 낮다고 본다. 몇천에서 몇만명이 되는 구성원들이 유동적으로 엮여가며, 일을 제때 처리할 수 있어야 하기에는 조금 어려운 구조이기 때문이다. 그나마 스타트업 기업들은 상황이 조금 낫다. (얼마전 <a href="http://yoonsy.kr/archives/30">포스팅</a>했던 Frograms 라는 회사에서 적극적으로 활용하고있다.)</p>
<p>비록 도입하는것이 쉽지 않다 하더라도, 직원들이 일에 집중할 수 있는 분위기를 만들어주려는 고민은 필요하다. 예를들어 일주일의 하루만, 아니 반나절만이라도 '침묵의시간' 과 같은 제도를 두어서 직원들이 일에 집중할 수 있는 환경을 만들어줄수 있지는 않은가.</p>
