---
layout: post
status: publish
published: true
title: "나는 작은 회사에 다닌다"
author:
  display_name: yoonsy
  login: nscorpio16
  email: nscorpio16@gmail.com
  url: http://yoonsy.kr
author_login: nscorpio16
author_email: nscorpio16@gmail.com
author_url: http://yoonsy.kr
wordpress_id: 136
wordpress_url: http://yoonsy.kr/?p=136
date: '2012-10-18 15:27:33 +0900'
date_gmt: '2012-10-18 15:27:33 +0900'
categories:
- "일상"
tags:
- "취업"
- "나는 작은 회사에 다닌다"
- "대기업"
- "청춘"
comments: []
---
<p><img src="http://image.kyobobook.co.kr/images/book/large/216/l9788996922216.jpg" alt="나는 작은 회사에 다닌다" /></p></p>
<p>나는 (그래서 혹은 그럼에도 불구하고) 작은 회사에 다닌다.</p></p>
<p>어제 아버지와 아침 먹으면서 했던 대화가 생각난다.</p></p>
<blockquote><p>
  나 : 오늘 XXX 회사 면접보러 가요~</p>
<p>  아버지 : 그건 뭐하는 회사냐, 결국 작은 회사네. 대기업은 싫으냐?</p>
<p>  나 : 대기업이 정답은 아닌것 같아요.</p>
<p>  아버지 : ... 인생에 정답이 .. 에휴 ...</p>
<p>  나 : ...</p>
<p></blockquote></p>
<p>참 가슴아프다. 대기업이 뭐길래...</p></p>
<p>나도 처음에는 대기업에만 가면 만사 장땡인줄 알았다. 어른들이 그렇게 말씀하셨으니까.</p></p>
<p>하지만 LG전자, Daum 등 거쳐가면서 '정말 이건 아닌데' 라는 생각이 계속 들었다. 재미가 없다. 물론 돈은 많이번다. 돈 많이 벌어서 통장에 차곡차곡 넣어놓는다. 퇴근은 열두시에 하면서... 잠들었다가 일어나서 회사가고, 다시 퇴근하고, 잠들고... 정말 공장속의 하나의 부품이 되어 돌아가는 느낌이다. 대기업에 다니는 사람들이 많이들 하는 하소연이다.</p></p>
<p>뭐 물론 (인생의 보람, 재미를 떠나서) 대기업에 취직해서 돈을 열심히 버는것이 가장 중요한 사람들도 분명 존재할것이다. 혹은 대기업에 다니더라도 일이 정말 미치도록 재미있는 사람들도 있을것이다. 대기업 다니면서 일이 미치도록 재미있다면, 정말 행운아인것 같다. 너무너무너무너무 부럽다. 하지만 일이 재미도 없고.. 이 일을 왜 하는지도 모르겠고.. 지금 당장 돈을 벌어야 하는것도 아니고... 단지, 대기업이라는 이유로. 주위 눈을 의식해서. 내 아이덴티티를 높여주기 때문에. 그런 이유로 대기업에 남아있다면 안타까울 따름이다.</p></p>
<p>적어도 청춘이라면, 아프다고~ 아프다고~ 만 말하지말고, <strong style="color:red;">진정 자기가 원하는 일. 가치있다고 생각하는 일. 평생 꾸어왔던 꿈을 이루게 해주는 일.</strong> 에 한번쯤 도전해 보는것도 좋을것 같다. 만약 다시 대기업으로 돌아간다해도 도전했던 이력들이 쌓여서 이력서가 되고, 자소서가 되고, 면접에서 할 말이 생기는것이다. 학점, 토익점수, 공모전, 인턴 등의 경험이 많은 사람보다도 훨씬 경쟁력있는 구직자가 되어 있을것이라고 믿는다.</p></p>
<p>여튼, 자신이 하고 싶은 일을 하는 사람들에게 위로가 될만한 책이 나와서 소개한다.</p></p>
<p><strong>"나는 그래서 혹은 그럼에도 불구하고 작은 회사에 다닌다."</strong></p></p>
<p><em>관련 글 : <a href="http://www.memoriesreloaded.net/2012/04/blog-post_07.html" target="_blank">"자찾사", 창조적 솔로</a></em></p></p>
