---
layout: post
status: publish
published: true
title: Morning Chat with Google's Eric Schmidt
author:
  display_name: yoonsy
  login: nscorpio16
  email: nscorpio16@gmail.com
  url: http://yoonsy.kr
author_login: nscorpio16
author_email: nscorpio16@gmail.com
author_url: http://yoonsy.kr
wordpress_id: 175
wordpress_url: http://yoonsy.kr/?p=175
date: '2012-10-29 06:16:54 +0900'
date_gmt: '2012-10-29 06:16:54 +0900'
categories:
- "미분류"
tags:
- Eric Schmidt
- "연세대"
- "구글"
comments: []
---
<p><iframe width="560" height="315" src="http://www.youtube.com/embed/pNJDAV6W3Cc" frameborder="0" allowfullscreen></iframe></p>
<p>지난 9월 27일 연세대에서 에릭슈미츠 회장과 한국 대학생들이 만나서 이야기를 나누었다고한다.</p>
<p>영어로 된 동영상을 볼때 한번에 쏙쏙 이해를 못하는 나인데, 이 영상은 거의 다 들리는것 같았다! (정확히 이해한건지 모르겠지만 ㅎㅎ) 그래도 이야기 흐름을 따라가고, 공감하다보니 영상을 재미있게 볼 수 있었다. 에릭슈미츠 회장이 한국 학생들을 배려해서 천천히 쉬운영어로 이야기 한것이라 생각했었는데, 다른 블로그나 트위터를 보니 다른 분들도 느낀 부분이란다.</p>
<p>어쨌든 영어공부도 하고, 기록도 남겨놓을겸 기억에 남는 부분들을 적어보았다.</p>
<ol>
<li>원래꿈이 뭐였나? CEO를 예상했나? 라는 질문에 '나는 프로그래머였고, 프로그래밍을 좋아했다. 좋아하는걸 하다보니까 CEO가 되어있더라.' 라는 대답. </li>
<li>주위 정말 똑똑한 친구들중에 정말 crazy 한 친구가 한명쯤은 있을것이다. right? 해주고 싶은 조언은 걔네들과 어울리고 놀라는것이다. 걔네는 평범하기를 거부하고, 앞으로 미래를 볼줄 아는 애들이다. </li>
<li>프로그래밍을 좋아했는데, 왜 매니저로 커리어 변경하였나? 내가 얼마나 중요한 프로그래머였는지는 중요하지 않다. 하나의 문제를 풀어나가는것이 중요하다. 사람들을 리드하는것은 큰 영광이다. 사람들과 함께 커라. 의사결정하는데에 그들이 도움을 줄것이다. </li>
<li>글로벌리더가 되려면 1. 직접 해외에 나가보라. 2. 다른나라 사람들도 원하는바는 똑같다. 3. 무대를 한국에 한정짓지마라. </li>
<li>어떤 스타일의 리더십이 효과적일까? 혼자서 리드하는것이 아니라, 토론을 통해 이루어져야한다. 토론은 더 좋은 의사결정을 내리게 해준다. "yes, yes, yes" 만 난무하는 회의는 좋은 선택을 하는데 방해가된다. </li>
<li>생각을 정리할때는 무엇을하나? 시간을 갖고 친구들과 이야기를 한다. 그것이 최선의 선택을 이끌도록 도와줄것이다.</li>
<li>기술 발전의 긍정&amp;부정적인면에서 어떻게 생각하나? 전세계 어디에나 좋은사람과 나쁜사람이 있다. 그러나 나는 좋은사람이 많다고 생각하고, 거기에 집중한다. 이것은 전화가 범죄에 악용되는거랑 다를바없다. 그렇지 않은가? </li>
<li>훌륭한 근로자임 동시에 훌륭한 아빠가 되고 싶은데 어떻게 할까? 무엇보다도 지금 진짜 중요한것은 열심히 일을 하는것이다. 나중에는 둘다 성공하는 방법을 찾게 될것이다. 지금 이 질문을 던졌다는 사실 자체가 훌륭한 아빠가 될 준비가 되어있다는 것이다.</li>
<li>"Yes" 는 당신이 인생을 살아가는데 있어 매우 강력한 단어이다. 새로운 기회가 왔을때 "Yes" 라 말하라. 앉아서 기다리지 말라. 당신은 great time 을 맞이하게 될것이다.</li><br />
</ol></p>
<p>영상안에 훌륭한 조언들도 많이 있었지만, 무엇보다도 크게 느낀점은 에릭슈미트가 이야기할때의 적절한 몸짓과 표정, 군더더기 없이 깔끔한 문장, 중간중간 섞여있는 유머 등 정말 배울점이 많다는 것이다.</p>
