---
layout: post
status: publish
published: true
title: "두산광고 - 신뢰&근성"
author:
  display_name: yoonsy
  login: nscorpio16
  email: nscorpio16@gmail.com
  url: http://yoonsy.kr
author_login: nscorpio16
author_email: nscorpio16@gmail.com
author_url: http://yoonsy.kr
wordpress_id: 40
wordpress_url: http://yoonsy.kr/?p=40
date: '2012-09-13 16:37:13 +0900'
date_gmt: '2012-09-13 16:37:13 +0900'
categories:
- "미분류"
tags:
- "두산광고"
- "근성"
- "신뢰"
comments: []
---
<p>기업광고들 중에 두산광고가 한번씩 눈에 들어온다. 그 중 내가 제일 공감하는 두가지.</p></p>
<hr />
<h4>아홉번째 이야기 - 예측가능한 사람</h4></p>
<p><iframe width="560" height="315" src="http://www.youtube.com/embed/bGHhvBJUKXE" frameborder="0" allowfullscreen=""></iframe></p>
<p>나의 첫직장이었던, D 회사의 유닛장님께서 매번 강조하신 세가지가 있다.<br /><br />
<strong>Fun, Passion, Trust.</strong><br /><br />
그 중 Trust에 대해 항상 이런 부가설명을 붙이곤 하셨다. '여러분, 신뢰란 특별한 것이 아니에요. 당신의 팀장님이 예측할 수 있는. 그런 사람이 되어주세요.' 자신의 리더가 예측할 수 있는 사람. 그런 사람이 신뢰가 가는 사람이라고 하셨다. 옳은 말씀이다.<br /><br />
위의 두산광고에서도 같은 말을 하고 있다. '늘 원칙을 지키는 예측가능한 사람이 믿을 수 있는 사람입니다.' 최소한 리더의 입장에서 생각해보면, 조직 구성원이 일관되고 예측가능하게 움직이는것 만큼 믿을한것이 없을것같다. (신뢰라는 범주 안에서는) 그것이 옳은 행동이든, 그른 행동이든 중요하지않다. 리더가 앞으로의 상황을 예측 가능하게 해주는 그것만으로도 큰 신뢰를 주는것이다.</p></p>
<hr />
<h4>열번째 이야기 - 현명한근성</h4></p>
<p><iframe width="560" height="315" src="http://www.youtube.com/embed/8T6LYYMvnNk" frameborder="0" allowfullscreen=""></iframe></p>
<p>취업 커뮤니티에서 간혹 돌아다니는 루머(?)들 중 하나는, 스펙이 너무 좋아도 기업에서 뽑지 않는다는 것.<br /><br />
어쩌다 이런 이야기가 나온것일까? 너무 잘난 사람은 조직에 잘 어울리지 못한다고 생각하는것 같다. 그런 사람들의 시선에서는 주위 구성원들의 능력이 부족해보이고, 자신만이 옳다고 생각한다. 자신의 능력만을 믿고 협력하지 않는 못난 회사원으로 나타날 가능성이 있다는 것이다. 그런 면에서 위 광고에서 하고자 하는 말은 새겨볼만하다.<br /><br />
'혼자 힘으로만 해내겠다는 것은, 근성이 아닌 오기나 고집일 수 있습니다.' '나의 능력에 누군가의 힘을 더해 문제를 더 멋지게 해결하는 것. 그것이 현명한 근성입니다.'</p></p>
