---
layout: post
status: publish
published: true
title: Rusutsu Resort (08' 1.19 ~ 1.22) No.2
author:
  display_name: yoonsy
  login: nscorpio16
  email: nscorpio16@gmail.com
  url: http://yoonsy.kr
author_login: nscorpio16
author_email: nscorpio16@gmail.com
author_url: http://yoonsy.kr
wordpress_id: 272
wordpress_url: http://yoonsy.kr/?p=272
date: '2012-12-11 15:37:55 +0900'
date_gmt: '2012-12-11 15:37:55 +0900'
categories:
- "일상"
tags:
- Rusutsu Resort
- "스키"
- "보드"
- "해외여행"
comments: []
---
<p>눈을 뜨니 시계가 07:10을 가리키고 있다. 아니, 07:10 이라고 적혀있다. 시계는 침대 수납장에 붙어있는.. 완전 옛날 디지털시계. 간단히 세수를 하고, 아침을 먹으러 옆건물 뷔페에갔다. 밥, 빵, 쥬스, 나물, 생선... 가릴 것 없이 이것저것 다 먹었다. 옆 테이블의 부시시한 모습의 정말 신혼같지 않은 신혼부부의 모습도 보인다. 어라, 한국말을 하네? 우리나라 신혼부부가 여기로 신혼여행 왔나보다. ㅎ</p></p>
<p><a href="http://yoonsy.kr/wp/wp-content/uploads/2012/12/RRH2_1.jpg"><img src="http://yoonsy.kr/wp/wp-content/uploads/2012/12/RRH2_1.jpg" alt="" title="RRH2_1" width="360" height="144" class="aligncenter size-full wp-image-274" /></a></p></p>
<p>보드를 탄다는 생각에 스키복으로 빨리 갈아입고, 2days.. 리프트권을 끊으러 매표소에 갔다. 그런데.. 문을 열지 않는다. 오픈시간이 5분도 안남았는데.. -<em>- 정각이 되자, 문이 스스르 열린다.... -</em>- 이 루스츠 리조트는 산 3개를 몽땅 자기네 스키장으로 만들었다. 우리나라의 알아주는 스키장인 무주, 용평 보다 족히 3배는 큰 것 같다. 얼마전에 개장한 하이원 보다는 2.5배?ㅋ 아무튼 오늘 아무리 열심히 타더라도 모든 슬로프 체험은 불가능하다고 판단했다. 곤도라를 타고 East Mt.으로 넘어가 중급코스를 탔다. 어제 밤 눈이 많이 내려 슬로프, 나무, 집 할 것없이 눈이 수북히 쌓여있다. 슬로프가 워낙 넓고, 그것도 막 개장한 아침이라.. 아무도 타고 내려간 흔적이 보이지 않는다. 가슴이 막 쿵쾅거린다. ㅋㅋ</p></p>
<p><a href="http://yoonsy.kr/wp/wp-content/uploads/2012/12/RRH2_2.jpg"><img src="http://yoonsy.kr/wp/wp-content/uploads/2012/12/RRH2_2.jpg" alt="" title="RRH2_2" width="360" height="146" class="aligncenter size-full wp-image-275" /></a></p></p>
<p>드디어 바인딩을 착용하고 슬로프로 내 몸을 던졌다. 그런데 이상하다. 처음엔 데크가 잘 안보이더니.. 부츠... 무릎..... 순으로 눈 속으로 파고 들어간다. 결국.. 난 슬로프 중간에 떡하니 멈춰 버렸다. 악! 경사가 완만해 앞으로 나갈 생각을 않는다. ㅠㅠ 우물쭈물하다가 넘어지고.. 아무렇지 않게 일어나려고 두 팔에 힘을 주고... 땅을 짚는 순간, 두개의 팔도 같이 눈속으로 파 묻힌다. 어이가 없다... ㅋㅋ 상체와 얼굴만 빼꼼히 내서 아빠를 찾는데.. 저 앞에서 누군가 눈에 묻혀 허둥지둥 하고 있다. 이런..우리 아버지이시다. ㅋㅋ 이리저리 뒹굴고 발악을 해보아도 일어 날 수가 없다. 아침부터 힘 다 빼고있다. 의지강한 한국인. 의지만 강하다.. -_- 결국 10분간 이리뒹굴, 저리뒹굴.. 하다가 바인딩을 풀었다. 위로 올려다 보니 나 혼자 뒹군 자국이 선명하게 남아있다.ㅋㅋ 괜히 챙피해진다. ㅎㅎㅎ 이리 구르고, 저리 구르고... 무릎꿇고 앉아서 타고.. 엎드려서도 타보고.. 그러면서 슬로프를 겨우 내려와 다시 리프트에 도착했다. 의지만 강한 한국인. 다시 올라갔다. 이번엔 사람들이 탄 자국이 많은 상급자 코스를 선택했다. 이제서야 제대로 즐길 수 있을 것 같다. 그런데 너무 뒹굴었더니 힘이 없다... ㅠㅠ 그래도 억지로 즐겼다. 이 리조트는 잘 타는 사람들이 상당히 많다. 일본인 60%에 외국인 36% 한국인 3.7356% 정도의 비율이지만, 모두들 너무 잘탄다. 분명 선수들 일거다. 아니고선 저렇게 잘 탈 수가 없다. 어떤 사람들은 슬로프를 벗어나 나무사이를 비집고 내려간다. 오나전 혼자서 노래방 영상을 찍는다. 그런데 멋있다. 나도 해봐야지.ㅋㅋ</p></p>
<p><a href="http://yoonsy.kr/wp/wp-content/uploads/2012/12/RRH2_3.jpg"><img src="http://yoonsy.kr/wp/wp-content/uploads/2012/12/RRH2_3.jpg" alt="" title="RRH2_3" width="360" height="144" class="aligncenter size-full wp-image-276" /></a></p></p>
<p>이 리조트는 슬로프가 정해져있지만 워낙 눈이 많이 와서 내가 가는곳이 슬로프고, 뛰는곳이 점프대이며, 묘기를 부리면 그곳이 하프파이프이다. 모글 스키어들을 위한 모글슬로프도 잘 되어있다. 정말 여기는 스키어, 보더들의 天國이다. 국내 리조트처럼 편의시설이 잘 갖추어져 있지는 않지만, 정말 보드타기에는 좋은곳이다. 관광지가 아니라 진정한 스키장이라는 느낌이다. 여태껏 다녀본 스키장 중 최고이다. 설질도 최상, 슬로프도 최상, 친절도 최상, 장비도 최상... 어느 하나 빠지질 않는다. 아, 간혹 어떤 리프트는 타고 가는동안 발 놓는 막대(?) 같은것이 없어서 불편하긴 했다. 그런데 안전바는 자동으로 내려오고 자동으로 올라간다. 신기하다..ㅋㅋ 넘어져도 푹신한 눈 위에서 구피를 연습하면서 스위치도 함께 몸에 익혔다. 그리고 점프, 여러가지 프리스타일 보딩도 마음껏 했다. 너무 신나게 탔는지 배가고프다. 혼잡한 레스토랑에서 자리를 찾고, 주문을했다. 오무라이스를 냠냠 맛있게 먹고나니, 아빠 빵모자가 없어졌다. 일본 오기 전, Nik*에서 산건데.. 너무 아깝지만, 어쩔 수 없어 모자를 하나 더 샀다. 모자 뿐만이 아니라 고글, 장갑, 마스크.. 어느하나 없이 탔다간 그 부분만 동상걸리기 딱이다. 많이 춥다. 정말 많이..</p></p>
<p><a href="http://yoonsy.kr/wp/wp-content/uploads/2012/12/RRH2_4.jpg"><img src="http://yoonsy.kr/wp/wp-content/uploads/2012/12/RRH2_4.jpg" alt="" title="RRH2_4" width="360" height="136" class="aligncenter size-full wp-image-277" /></a></p></p>
<p>다시 콘도로 돌아오기 위해.. 슬로프를 타고, 리프트를 타고, 곤도라로 갈아타고, 메인 리조트로 넘어왔다. 산과 산을 넘나드는데 1시간은 걸린 것 같다. 아빠는 고산증때문에 먼저 들어가신다고 하고, 나만 30여분 더 타다가.. 들어갔다. 나도 조금 몸을 녹이고, 저녁을 먹으러 갔다.</p></p>
<p><a href="http://yoonsy.kr/wp/wp-content/uploads/2012/12/RRH2_5.jpg"><img src="http://yoonsy.kr/wp/wp-content/uploads/2012/12/RRH2_5.jpg" alt="" title="RRH2_5" width="360" height="269" class="aligncenter size-full wp-image-278" /></a></p></p>
<p>오늘은 프랑스 요리를 택했다. 어떤 음식이 나올까? 이 레스토랑은 일식집보다 더 고급스러운 분위기다. 스키장에 있는 레스토랑인데 정장이라도 차려입고 와야만 할 것 같다. 디너티켓으로는 한가지 코스요리만 선택이 가능해 선택의 여지없이 주문을 했다. 고기는 Mid-well, 차는 Tea. 달팽이와 채소를 곁들인 것 같은 에피타이져가 나오고, 맛있는 음식들을 담은 접시가 계속해서 나온다. 어제보다 더 많이 나온다. 한접시 비우면 나오고, 또 비우면 또 나오고.. 메인 스테이크를 다 먹고.. Bills plz.. 라고 했다. 못알아 먹는다. 빌즈를 달라니까, 계속 비르(Beer)를 줄려고 한다. 결국 아빠가 옆에서 cash~ 라고 하니까 알아 듣는다. ㅋㅋ 여차 저차해서 계산서를 받고나니 디저트가 나온다. -_- 잠깐 깜빡했다. 디저트가 있었구나.. 케익이 나오고.. 과자가 나오고, 과일.. 커피... 이래서 못알아 먹었나보다. ㅋㅋ 아리가또~! 를 외치며 레스토랑을 나와, 다시 장비를 챙겨 야간 스키를 타러 갔다.</p></p>
<p>사람도 듬성듬성 조금밖에 안보이고, 조명때문인지 스키장이 무척이나 이쁘다. 야간에는 점프를 계속 연습했다. 결국 점프해서 데크를 잡는.. 그 기술을 어설프게나마 성공했다. 동영상으로 많이 본 테크닉이다. ㅋㅋ 야간이 되니까 잘타는 놈들이 더 많다. 진짜 보딩을 즐기는 것 같다. 즐거워 보인다. 보드를 타면서 콘도쪽을 보니, 실내 수영장에 잘빠진 남녀들이... 수영은 안하고 계속 걸어다니기만 한다. 몸 자랑 하나보다.ㅋㅋ 멋있고, 이쁘다. 나는 수영복을 안가져와서 온천수에 몸만 담그고 샤워를 하고, 지금 이렇게 일기를 쓰고 있다. 따뜻한 녹차한잔과 함께..<br>이제 자야겠다. 벌써 12시를 넘어서고 있다.</p></p>
