---
layout: post
status: publish
published: true
title: "작은 것에도 감사하는 마음 갖기"
author:
  display_name: yoonsy
  login: nscorpio16
  email: nscorpio16@gmail.com
  url: http://yoonsy.kr
author_login: nscorpio16
author_email: nscorpio16@gmail.com
author_url: http://yoonsy.kr
wordpress_id: 68
wordpress_url: http://yoonsy.kr/?p=68
date: '2012-09-19 07:39:32 +0900'
date_gmt: '2012-09-19 07:39:32 +0900'
categories:
- "일상"
tags:
- "행복"
- "당위"
- "내가알고있는걸당신도알게된다면"
- "감사"
- "욕심"
comments: []
---
<p>서울 생활 7년. 제주 생활 1년반.</p></p>
<p>처음 서울 생활을 시작했을때에는 모든 것이 신기하고 재미있었다. 지하철이 다니는것도 신기했고, 티비에서만 보던 63빌딩도 직접 볼 수 있어 신기했다. 고층 빌딩들 사이에 서 있을때면 한국 경제의 최앞단에 서서 활동하는것 같아 괜히 우쭐했었다. 마치 내가 한국을 이끌어갈 인재가 된듯한 느낌이었다.</p></p>
<p>그러나 언제부턴가 서울 생활이 답답하고 지겨워지기 시작했다. 지하철은 서서 갈 생각만 하면 다리가 아파왔고, 파란하늘을 볼 틈도 주지 않는 고층 빌딩들이 너무 삭막하게 느껴졌다. 사람들은 숨 쉴 여유조차 없이 바쁘게 살아가고 있었고, 인생을 즐겨야 하는데 너무 앞만보고 달려가는것이 아닌가 하는 생각에 좀 쉬고 싶다는 욕구가 생겼다.</p></p>
<p>그래서 (단지 그 이유만으로 결정했던 사항은 아니지만) 제주도로 내려오게 되었다. 제주도 생활은 어땠을까? 처음엔 너무 좋았다. 파란 하늘을 마음껏 볼 수 있었고, 지하철이나 버스의 좌석에 앉기 위해 눈치 작전을 펼칠 필요도 없었다. 허나 그렇게 1년이 흐르고, 여유에 익숙해질때쯤 불편한점이 조금씩 느껴지기 시작했다. 문화 생활을 즐기기 어려웠고, 다양한 사람을 만나기 어려웠다. 친구들을 보고싶어도 그럴수 없었다.</p></p>
<p>나는 다시 서울이 그리워지기 시작했다...</p></p>
<hr />
<p>주위 환경은 그대로인데 왜 이렇게 오락가락 왔다갔다 할까.</p></p>
<p>나는 그 이유가 <strong>'욕심'</strong>에 있다고 본다.</p></p>
<p>고층 빌딩들이 나의 자존감을 높여주는 것에서 삭막한 것으로 바뀌는 순간, 내 안의 감사하는 마음은 사라지게 되고, 불평이 생기기 시작한다. 이런 사소한것에 대해 불평이 하나 둘씩 쌓이게되면 삶이 재미없어지고 무기력해진다. 삶이 무기력해진다고 고층빌딩을 떠나 제주로 간다면 행복해질까? 위에 언급했듯이 처음에는 그 허전함을 달랠수 있지만, 나중에는 또 다른 욕심이 생기기 마련이다.</p></p>
<p><span style="color:orange;font-weight:bold;">따라서 평소에 작은것 하나 하나에 대해 감사하는 마음을 가지고 살아가는 태도가 아주 중요하다.</span></p></p>
<div style="display:none">
  이 교휸이 내가 첫 직장을 나오게되면서 가장 크게 배운점이다.<br />
 * 개발이 재미없어서 힘든거야. 마케팅을 하면 야근을해도 재미있으니까 행복할거야.<br />
 * 이렇게 야근하면서 돈은 삼성보다 적게 받잖아. 그렇다고 일이 그렇게 재미있지도 않아. 그럴바에야 돈 많이 주는곳으로 가겠어.<br />
 * 생각보다 특별한 기술이나 프로세스가 있는게 아니잖아? 그렇다면 나도 해볼만한데?!</p>
<p>    과연, 마케터가 된다면 행복할까..? 삼성가서 돈 더 받으면 행복할까? 내 사업을 시작하면 행복해질까?</p>
<p></div></p>
<p>아래는 책 <a href="http://book.daum.net/detail/book.do?bookid=BOK00017643299BA">'내가 알고 있는걸 당신도 알게 된다면'</a> 에 나오는 한 구절이다.</p></p>
<blockquote><p>
  심리학자들은 좋은 직장을 구하거나 꿈구던 도시로 이사를 하거나 결혼을 하거나 복권에 당첨되는 등 상황의 변화는 단지 사람들이 느끼는 행복의 수준에 일시적인 '충격'을 줄 뿐이라고 말한다. 놀랍게도 대부분의 경우 극히 짧은 시간 안에 사람들은 원래 자신의 행복 수준으로 되돌아간다는 것이다. 그래서 'OO라면' 식의 마음가짐은 기껏해야 아주 잠시 동안 행복의 수준을 확 끌어올리는 것에 지나지 않는다. 그리고 이렇게 끌어올린 행복은 지속되지 않는다. 연구에 의하면 이런 유형의 상황 변화가 장기적으로 행복한 감정을 줄 가능성은 극히 희박하다고 한다.</p>
<p>  인생의 현자들이 삶을 대하는 관점은 젊은 사람들이 흔히 갖고 있는 'OO라면 행복할 텐데' 식의 태도와 근본적으로 다르다. 인생의 현자들은 행복하게 되는 것도, 힘든 상황에도 불구하고 늘 행복한 것도 개인의 선택이라고 주장한다. 인생의 현자들은 누구나 엄청난 스트레스나 큰 고통, 감당하기 힘들 것 같은 슬픔에도 불구하고 삶을 대하는 태도를 변화시킬 수 있으며 그러한 태도는 이후의 삶에 영향을 미칠 수 있다고 믿는다. 그들은 또한 '행복하게 만들어줄' 사건을 기다리는 것은 엄청난 실수라고 강조한다. .... 중략 ....</p>
<p></blockquote></p>
<p><a href="http://yoonsy.kr/wp/wp-content/uploads/2012/09/happiness.png"><img src="http://yoonsy.kr/wp/wp-content/uploads/2012/09/happiness.png" alt="행복이란" title="행복이란" width="433" height="300" class="aligncenter size-full wp-image-233" /></a></p></p>
