---
layout: post
status: publish
published: true
title: SMART한 목표 설정법
author:
  display_name: yoonsy
  login: nscorpio16
  email: nscorpio16@gmail.com
  url: http://yoonsy.kr
author_login: nscorpio16
author_email: nscorpio16@gmail.com
author_url: http://yoonsy.kr
wordpress_id: 18
wordpress_url: http://yoonsy.kr/?p=18
date: '2012-09-12 06:29:41 +0900'
date_gmt: '2012-09-12 06:29:41 +0900'
categories:
- "미분류"
tags:
- "목표설정"
- SMART
comments: []
---
<p>목표를 세우는데 있어 구체적이고, 실현가능하도록 세울수 있는 방법은 여러가지가 있는데,</p>
<p>그 중 SMART 라는 방법론에 대해 알아보자.</p>
<hr />
<h4><strong>S (Specific)</strong></h4></p>
<p>목표는 구체적이고 확실해야한다.</p>
<h4><strong>M (Measurable)</strong></h4></p>
<p>목표는 측정가능해야한다.</p>
<p>목표달성한 결과를 객관적인 지표로 확인할 수 있으면 좋다.</p>
<h4><strong>A (Action Oriented)</strong></h4></p>
<p>목표는 변화를 위한 행동에 기초하여야한다.</p>
<p>행동 계획이 짜여져야 한다는 말이다.</p>
<h4><strong>R (Realistic)</strong></h4></p>
<p>목표는 실현 가능성이 있어야한다.</p>
<h4><strong>T (Time bounded)</strong></h4></p>
<p>목표는 그것을 이루기 위한 기한을 정해야한다.</p>
<hr />
<p>여기에 더하여, 목표를 성취하였을때 자신에게 상을 준다면</p>
<p>조금 더 도움이 될지도 모르겠다.</p>
