---
layout: post
status: publish
published: true
title: Rusutsu Resort (08' 1.19 ~ 1.22) No.1
author:
  display_name: yoonsy
  login: nscorpio16
  email: nscorpio16@gmail.com
  url: http://yoonsy.kr
author_login: nscorpio16
author_email: nscorpio16@gmail.com
author_url: http://yoonsy.kr
wordpress_id: 263
wordpress_url: http://yoonsy.kr/?p=263
date: '2012-12-11 15:24:49 +0900'
date_gmt: '2012-12-11 15:24:49 +0900'
categories:
- "일상"
tags:
- Rusutsu Resort
- "스키"
- "보드"
- "해외여행"
comments: []
---
<p>05:30 A.M. 삿포로로 가기 위해 새벽같이 일어났다. 몇 시간 안잤더니 졸려 죽겠네... 비행기와 차 안에서 실컷 자면 되겠다는 생각에 그나마 위안이 된다. 차에타서 눈을 감았다. 어느 새 공항에 도착해 있다. 로밍을 하고 발권을 했다. 요즘 세상 좋아졌네... Anyc*ll 핸드폰을 외국으로 가져 갈 수 있다니... 거기에 수신.발신까지 편해졌다. 그냥 한국에서 하듯이 누르면된다. 이야.. 공항까지 배웅해주신 어머니를 뒤로하고 출국 절차를 밟으며 면세점으로 향했다. 시계, 선글라스, 지갑 등등이 눈에 들어온다. 아버지는 Smith에서 골프용 선글라스를 사신다. 잘 어울리시네... 이 선글라스.. 엄청 큰 마음먹고 이번 여행에 유일하게 하나 산거다.ㅋㅋ 6번 게이트로 들어갔다. 한겨레 신문, 일간스포츠를 짚어들고, 꽂혀있던 AirShopping, 맛있게 먹으라고 준 기내식.</p></p>
<p><a href="http://yoonsy.kr/wp/wp-content/uploads/2012/12/32853.jpg"><img src="http://yoonsy.kr/wp/wp-content/uploads/2012/12/32853.jpg" alt="" title="RRH1_1" width="251" height="187" class="aligncenter size-full wp-image-264" /></a></p></p>
<p>이런 것들과 함께 치토세 공항에 도착했다. 역시 가까운나라 일본이다. 그나저나 자야되는데 깜빡했네.. 출국 절차를 밟는데 좀 까다로워졌다. 지문과 사진까지 남겨놓는다. 그리고 이번에도 나의 몸을 수색하시겠단다. 예전에 일본거쳐서 배낭여행 갈때에는 더했다. 캐리어백에 있는 짐 다 꺼내고.. 다 검사하더라. 왜 나만 그러냐고.. 어쨌든 통과하고 스키버스를 타고 Rusutsu Resort Hotel (이하 RRH) 로 출발!</p></p>
<p><a href="http://yoonsy.kr/wp/wp-content/uploads/2012/12/SNV301844724.jpg"><img src="http://yoonsy.kr/wp/wp-content/uploads/2012/12/SNV301844724.jpg" alt="" title="RRH1_2" width="296" height="111" class="aligncenter size-full wp-image-265" /></a></p></p>
<p>일본말로는 훗카이도, 우리말로는 북해도. 삿포로는 어디서 나왔지? 모르겠다. 어쨌든 RRH에 도착해서 체크인을 하는데.. 어라. 얘네 영어 실력이 좀 늘었다. 예전엔 '와츠유어네임?' 이 한마디에 도망가던 놈들이... 세계적인 리조트 직원들이라 좀 하나보다. 스키 라커도 잘 되어있다. 보드를 빌리는데 좀 놀랬다. 부츠가 발에 다라붙는 느낌이라 자세히 봤더니 버튼꺼다. 데크도 버튼이네... 여지껏 이 스키장, 저 스키장 다 다녀봤지만 보드 전문 유명메이커를 쓰는 곳은 처음 본 것 같다. 일본어는 완전 못하고, 영어도 조금밖에 모르는 내가 보드를 힘들게 빌렸다. 이제는 리프트권을 여차저차 손발 다 써가며 야간껄로 샀다. 우와... 장난 아니다. 난 일본을 싫어하지도 좋아하지도 않는 사람이다. 객관적으로 봤을때, 슬로프 설질이 정말 좋다. 분명 평지인데 가만히 서 있어도 미끄러져 내려간다..</p></p>
<p><a href="http://yoonsy.kr/wp/wp-content/uploads/2012/12/SNV301927015.jpg"><img src="http://yoonsy.kr/wp/wp-content/uploads/2012/12/SNV301927015.jpg" alt="" title="RRH1_3" width="352" height="132" class="aligncenter size-full wp-image-266" /></a></p></p>
<p>사진도 찍고 보딩도 하고, 2시간을 슬로프에서 보내고 방으로 들어왔다. 수건과 속옷을 챙겨서 온천으로 갔다. 아, 이 RRH는 웬만한 편의시설은 무료란다. 온천, 수영장, 심지어 회전목마까지도... 좋아했지만, 알고보니 숙박료가 비싸다. -_- 그럼 그렇지.. 몸을 씻고 식권을 들고 일본식, 프랑스식, 이태리식, 지중해식, 뷔페 등등의 메뉴를 놔두고 행복한 고민을했다. 일본에 왔으니 일본 밥을 먹어야겠다. 식당, 아니 레스토랑 분위기에 좀 놀랬다. 디너티켓을 보여주니 선택가능한 3가지 코스요리를 보여준다. 코스요리라길래 티켓으로 먹을 수 있나 헷갈려서 메뉴판을 분석을 해보니 with Dinner ticket 이라고 써있다. 다행이다. 아빠는 스시코스. 난 무얼 시켰는지 모르겠다. 일단 아무거나 시켰다. 추가로 맥주도 두잔 시켰다. 생맥, 흑맥. 개인적으로 흑맥을 좋아해서 시켰지만 또 한번 느낀다. 모두들 여행가서는 생맥을 먹자. 훨씬 맛있다.</p></p>
<p><a href="http://yoonsy.kr/wp/wp-content/uploads/2012/12/SNV302028636.jpg"><img src="http://yoonsy.kr/wp/wp-content/uploads/2012/12/SNV302028636.jpg" alt="" title="RRH1_4" width="359" height="135" class="aligncenter size-full wp-image-267" /></a></p></p>
<p>나오는 메뉴하며 직원들 친절이 부담스럽다. 여기 직원들은 상당히 친절하다. 길을 물어보면 목적지까지 동행해서 알려준다. 이 정도면 말 안해도 알만하지 않은가. 하긴 다른 일본인들도 몇몇 그러더라. 근데 좀 상업적인 것 같긴하다.</p></p>
<p>배터지게 먹고 방으로 돌아와 이것저것 정리하고 일기를 쓴다. 그런데 좀 춥네... 내일 보딩이 기대된다.</p></p>
