---
layout: post
status: publish
published: true
title: "개인화 영화서비스 watcha와 그 배경"
author:
  display_name: yoonsy
  login: nscorpio16
  email: nscorpio16@gmail.com
  url: http://yoonsy.kr
author_login: nscorpio16
author_email: nscorpio16@gmail.com
author_url: http://yoonsy.kr
wordpress_id: 30
wordpress_url: http://yoonsy.kr/?p=30
date: '2012-09-13 14:16:29 +0900'
date_gmt: '2012-09-13 14:16:29 +0900'
categories:
- "미분류"
tags:
- "스타트업"
- "왓챠"
- Frograms
comments:
- id: 2
  author: "일의 성과만 좋으면 된다! &#8211; ROWE &laquo; 윤석영"
  author_email: ''
  author_url: http://yoonsy.kr/archives/61
  date: '2012-09-15 02:02:06 +0900'
  date_gmt: '2012-09-15 02:02:06 +0900'
  content: "[...] 구조이기 때문이다. 그나마 스타트업 기업들은 상황이 조금 낫다. (얼마전 포스팅했던 Frograms 라는 회사에서
    적극적으로 [...]"
---
<p>최근 친구가 괜찮은 서비스가 나왔다고 페이스북에 글을 남겼다.</p>
<p>그것은 영화추천 서비스 <a href="http://watcha.net/">왓챠</a>.</p>
<p>서비스를 처음 마주했을때의 느낌은 <strong>'우와, 잘 만들었다!!! 어떤 사람들이 만든거지?'</strong></p>
<hr />
<h4>무엇을 잘 만들었나?</h4></p>
<ol>
<li>첫 방문한 사용자가 어떤 액션을 취해야할지. 명확하게 가이드해주는 UX.</li>
<li>개인이 부여한 평점에 근거. 평점을 매긴 영화가 많아질수록 더 정확하게 영화를 추천해주는 선순환구조.</li><br />
</ol></p>
<p>참 머리가 똑똑하다. 결과만 내어놓고 보면 쉽고 당연한거지만, 서비스컨셉을 한마디로 정의할 수 있도록 심플하고 핵심적인 가치를 이끌어내기위해서는 얼마나 치열한 고민이 뒤따랐을까.</p>
<hr />
<h4>누가 만들었나?</h4></p>
<p>'왓챠'는 <a href="http://frograms.com/">Frograms</a>라는 스타트업 회사에서 제작되었다.</p>
<p>회사 홈페이지를 방문해보았다.</p>
<p>한눈에 보아도 감각적인 디자인, 심플한 페이지 구성이 참 마음에 든다.</p>
<p>여기저기 검색을 해보다 발견한 재미있는 사실들.</p>
<ol>
<li>김범수 의장 (한게임 설립, NHN 공동창업자, 카카오톡 이사회 의장)의 <a href="http://kcubeventures.co.kr/">케이큐브벤쳐스</a>를 통한 8억원 투자지원</li>
<li>KOI, IOI, ACM 등의 프로그래밍 대회에서 인증받은 KAIST 출신 개발자들</li>
<li>Ruby on Rails 를 이용한 개발 </li>
<li><a href="http://en.wikipedia.org/wiki/ROWE">ROWE (Results-Only Work Environment)</a> 방식의 자율출퇴근제</li><br />
</ol></p>
<hr />
<p>최근 스타트업 기업들이 많이 나타나고 있다. 지난 닷컴열풍이후 두번째인것 같다.</p>
<p>하지만 닷컴열풍과는 다르게 클라우드 서비스를 통한 소자본 창업이 가능해졌고, 글로벌시장으로 참여가 훨씬 쉬워졌다.</p>
<p>애플과 구글이 앱스토어라는 플랫폼을 만들어주었기 때문이다.</p>
<p>앞으로 왓챠같은 서비스가 많이 나왔으면 좋겠다.</p>
<p>가치있는 시도들, 새로운 시도를 하는자들이 많이 나왔으면 좋겠다는 말이다.</p>
