---
layout: post
status: publish
published: true
title: "전세계약시 유의사항!!"
author:
  display_name: yoonsy
  login: nscorpio16
  email: nscorpio16@gmail.com
  url: http://yoonsy.kr
author_login: nscorpio16
author_email: nscorpio16@gmail.com
author_url: http://yoonsy.kr
wordpress_id: 77
wordpress_url: http://yoonsy.kr/?p=77
date: '2012-09-24 15:37:55 +0900'
date_gmt: '2012-09-24 15:37:55 +0900'
categories:
- "일상"
tags:
- "전세"
- "부동산"
- "계약"
comments: []
---
<p>다음주에 전세 계약을 하려한다. 조심 조심 또 조심. 공부 공부 또 공부. 법률 전문가가 말하길...<br /><br />
<strong>부동산 계약서는 최후 법정에 간다는 생각으로 작성! 특약을 어떻게 넣느냐가 제일 중요!</strong></p></p>
<hr />
<h5>등기부상 주인과 계약자리에 나온 주인과 일치여부 확인</h5></p>
<ul>
<li>양쪽 모두 안심할 수 있도록 서로의 신분 정확히 확인. </li>
<li>대리인이 나올 경우, 집주인의 인감 첨부된 위임장과 인감증명서 요구</li><br />
</ul></p>
<h5>등기부등본 확인</h5></p>
<ul>
<li>압류, 가압류, 가처분, 가등기 설정 여부 확인 </li>
<li>근저당, 저당권 규모 확인 (근저당금액 + 기존 전세금 > 매매가*0.5 일때 위험) </li>
<li>다른 세입자 존재여부 확인 </li>
<li>전세권 설정 가능여부 확인</li><br />
</ul></p>
<h5>잔금 치루는 날</h5></p>
<ul>
<li>잔금 치루는 날이 입주하는 날이 되어야한다. (열쇠 수령) </li>
<li>집을 한번 더 둘러보고, 하자 있나 확인. </li>
<li>등기부 등본 다시 확인 후, 잔금 지급 (계약시와 변동사항 없는지) </li>
<li>전세금을 주인에게 직접 전달 및 이체. 중개인에게 영수증 요구(영수증이나 기록 남도록) </li>
<li>전입신고 및 확정일자 (등기부상의 정확한 층수와 호수로 신고)</li><br />
</ul></p>
<h5>계약서 작성시</h5></p>
<ul>
<li>가장 먼저, 시설상태 수리여부 확인 </li>
<li>동호수의 정확성 </li>
<li>계약금(총금액의 10%), 잔금의 금액, 계약 기간 확인 </li>
<li>
  특약사항 기입
  <ul>
<li>잔금지급시까지 등기부상 하자 발생할 경우 계약해지 및 임대인 계약금의 두배 배상</li>
<li>잔금 지급과 동시에 등기이전에 관련된 일체의 서류를 교부</li>
<li>잔금일 기준으로 공과금 및 세금 정산</li>
<li>시설 하자 여부 기록 (앞으로 발생될 것도 포함)</li>
<li>계약기간중 방을 비우고자 할 경우 생각.</li>
<li>계약 불이행시 손해배상 </li>
  </ul>
<li>중개 수수료 확인 </li><br />
</ul></p>
<h5>필수로 챙겨야할 문서</h5></p>
<ul>
<li>기명, 날인한 계약서 </li>
<li>중개물건 확인설명서 </li>
<li>공제 확인서 </li>
<li>등기부등본, 건축물대장, 토지대장은 선택</li><br />
</ul></p>
<hr />
<p>※ 참고</p></p>
<ul>
<li>정식 등록된 중개업소 이용 </li>
<li>전세금 보증보험 </li>
<li>재계약 할 경우에는 계약서를 수정하는것이 아닌, 새로 작성!</li><br />
</ul></p>
