---
layout: post
status: private
published: false
title: "비밀일기 2012.12.17"
author:
  display_name: yoonsy
  login: nscorpio16
  email: nscorpio16@gmail.com
  url: http://yoonsy.kr
author_login: nscorpio16
author_email: nscorpio16@gmail.com
author_url: http://yoonsy.kr
wordpress_id: 312
wordpress_url: http://yoonsy.kr/?p=312
date: '2012-12-17 14:12:49 +0900'
date_gmt: '2012-12-17 14:12:49 +0900'
categories:
- "일상"
tags: []
comments: []
---
<p>우선 블로그에 비밀 일기를 쓴다는것 자체가 그리 개운하지가 않다. 블로그는 남들에게 나의 생각을 알리기 위한 공간인데, 오늘 쓰고자하는 일기는 알리기에는 조금 꺼려지는 내용이라 그런가보다.</p></p>
<p>그것의 근본적인 원인은 무엇일까. Daum에서 퇴사하고 싶은 이유를 정확히 정의하지 못해서 그런것 같다.<br />
1. 개발이 싫어서 (그럼 왓? 무얼할래?)<br />
--> 그래서 마케팅을 알아보았다. 하지만 딱히 답이 안나왔다. 관련해서 밑에 적어두었다.<br />
2. 느리고, 비효율적이고, 안정만을 추구하는 대기업이 싫어서 (프로젝트에 대해 미치도록 고민해보고, 열중해보고 싶어서)<br />
--> 창업을 해보고 싶다. 하지만 인적네트워크 및 아이디어 상황이 시작하기엔 조금 모자라다. 그럼 스타트업에 참가해서 간접체험을 해보고, 많이 배워보자.<br />
3. 근무환경이 힘들어서<br />
--> 한국 기업들의 근무 환경은 모든 곳이 터프하다. 심지어 외국도 그렇다는 얘기가 많음... 어쨌든 프로그램스가 실리콘밸리같은 느낌을 조금이라도 경험하게 해 줄 듯.<br />
4. 제주라서<br />
--> 이제 떠나왔다.</p></p>
<p>등등의 이유가 있었던것 같은데 그 중 어떤것이 가장 큰 비중을 차지하는걸까?</p></p>
<p>Anyway...</p></p>
<p>여러 고민과 과정을 겪은 끝에 프로그램스를 선택하게 되었다.</p></p>
<p>오늘 나의 상황을 정리해보겠다.</p></p>
<p>마케팅을 하려고 많이 알아본결과<br />
- 마케팅도 그리 즐겁지 않을 수 있다. (마케팅은 하루하루 매출 숫자에 엄청난 집착을 한다. 전략적으로 움직이지 못함.)<br />
- 인터넷 업체 경험과 마케팅의 접점을 찾을 수 있는 곳은 (지금 현재 까지는) 인터넷회사 마케팅밖에 발견하지 못했다. Daum에서 마케팅에 대한 이해 부족으로 비즈마이닝 팀에 합류하지 않았던 것은 진한 아쉬움으로 남는다.<br />
- 컴공과 마케팅의 접점을 찾으려면 자동체 혹은 반도체 회사 처럼 부품 회사의 B2B 영업 마케팅이 가장 적절하다는 현준이형 조언이 있었다. 하지만 내가 원하는 그림은 아닌듯.<br />
- LG/삼성전자에서 B2C 마케팅을 하려고 베스트샵 아르바이트를 일주일째 하고 있다. 하지만 그것은 B2C가 아니라 하이프라자 매장 직원들이 하는 판매 영업직무 이다.<br />
- 하지만 한번 경험해보고 싶은 마음은 아직 있다.</p></p>
<p>그럼 Frograms에 입사하면서 어떤 마음가짐을 가져야할까?<br />
1. 프로젝트에 미친듯한 열정을 가지고 열중을 해보는거다.<br />
2. 말 많이 하자. 많이 나대자. (오픈마인드로 남의 비판도 받아들일 준비가 되어 있어야한다.) 안그러면 속으로 불만만 쌓이게되고 또 퇴사하게 된다. 내가 창업자라는 마음으로 임할것. 모든 일에 적극적으로 나서서 의견을 내고, 개선사항을 제안 할 것. 그러나 모든것을 내 마음대로 하려고 하지말고, 때로는 질 줄도 알아야 할 것. 내 마음에 안찬다고 답답해 하거나 성급해하지 말 것. 다른데로 가더라도 마음에 꼭 맞는 곳은 없다.<br />
3. 일과 생활은 구분하자. 일과 삶이 하나가 됨으로써 삶 자체가 의미있어 질 수도 있지만, 스트레스와 괴로움도 따라온다. 일과 삶을 구분하는것도 나쁜 방법은 아니다. (개발은 개발이고, 개발 외적으로 대학생때 처럼 즐기자. 그것이 인문학적 마인드를 기르는 길이고, 스트레스를 푸는 법이다.)<br />
4. 과정 자체를 즐길것. 개발을 억지로 밀어내지 말자. 개발은 내 일이다. 즐겁게 열심히하고, 나머지 (인문/경영학적) 허전함은 일 외적으로 채우자.<br /><br />
5. 항상 깔끔한 용모, 패션에 대한 관심을 유지할 것. 자신감 향상을 가져오고, 남들에게 신뢰를 줄 수 있다. 또한 그로인해 스트레스 해소됨은 덤!<br />
6. 찌질한 개발자가 태반이다. 그러나 그 사람들은 그냥 그런것. 훌륭한 개발자는 찌질하지 않다. ex) 순범님, 에릭슈미츠 등<br />
7. 돈 모으는데 집착하지 말자. 의미있는 삶을 살지 못한다. 내가 원하는것을 진정으로 즐기다보면 돈은 따라올것.</p></p>
<p>Frograms의 근무 조건은 연봉 3천에 스톡옵션 500주<br />
옵션의 행사가격은 500원이고 2년 후 부터 행사가능<br />
처음 발행은 500원짜리 10만주 -> 5000만원 자본금 회사<br />
K-cube에서 8억을 투자하고, 신주를 발행했다고 함. <-- 이부분이 회사 가치를 10배 높였다고 들은것 같은데 주가에 정확히 어떤 영향을 미치는지 정확히 이해가 안됌.<br />
현재 5만~6만원 정도의 주가로 평가되고 있다고 함.<br />
따라서 주식 2500만원 정도를 받고 입사.</p></p>
