---
layout: post
status: private
published: false
title: "첫 직장과 제주가 내게 남긴것들. (2)"
author:
  display_name: yoonsy
  login: nscorpio16
  email: nscorpio16@gmail.com
  url: http://yoonsy.kr
author_login: nscorpio16
author_email: nscorpio16@gmail.com
author_url: http://yoonsy.kr
wordpress_id: 129
wordpress_url: http://yoonsy.kr/?p=129
date: '2012-11-28 14:25:05 +0900'
date_gmt: '2012-11-28 14:25:05 +0900'
categories:
- "일상"
tags:
- Daum
- IT 프로젝트
comments: []
---
<p>포스팅이 늦어지고 있다. 직장생활을 하면서 가졌던 생각들을 잊지 않기 위해 포스팅하기로 마음먹었는데, 벌써 미루면 안되지!! 얼른얼른 써야겠다.<br /><br />
(1편도 있지만, 개인글로 남겨두었다.)</p></p>
<p>
<style>
.my-expectation{color:#45aeed;font-weight:bold;margin-bottom:10px;}<br />
.real-environment{color:orange;font-weight:bold;margin-bottom:10px;}<br />
</style></p></p>
<p>내가 Daum 이라는 회사를 선택한 이유 중 하나는 내 성격과 Daum의 근무환경이 조화를 잘 이룰거라는 생각이었다. 내 기대치가 너무 컸던걸까, 실상은 별로 조화롭지 못했다. 내가 원했던 근무환경과 내가 생활했던 환경의 차이를 정리해보겠다.</p></p>
<p><span class="my-expectation">나의 기대</span><br /><br />
프로젝트는 예상한 시나리오대로 흘러갈 것이며, 그에 따라 내 생활도 안정적으로 컨트롤 가능할 것이다.</p></p>
<p><span class="real-environment">나의 생활</span><br /><br />
(참고 : 이부분은 부서에 따라 다를수 있고, 개인에 따라 컨트롤 능력의 차이도 있을 수 있다.)<br /><br />
일반적인 웹 서비스가 탄생하는 과정은 기획->디자인->개발 의 프로세스를 거치게 된다. 어떤 서비스를 만들지 정해지면, 각 업무 담당자들이 모여서 일정회의를 하게 되는데, 나같은 경우는 회의를 통해 정해진 일정대로 이루어지는 경우는 거의 없었다.<br /><br />
그 이유에는 완벽하지 않은 기획, 기획의도를 정확히 파악하지 못한 개발, 예상하지 못했던 업무들의 개입, 지원부서의 지연, 회사의 사업전략 변경 등등 엄청 많은 이유가 있다. 이런 불안정한 요소들을 100% 없앨수 있다면 시간 컨트롤이 가능하겠지만, 현실은 그렇지 못하다. 모든 담당자들과 완벽하게 소통된 상태여야 하고, 타켓 시장이 예측한대로 움직여야하며, 회사의 전략도 변하지 않아야 한다. 쉽지않은 일이다.<br /><br />
따라서 이런 불안정 요소들을 인지하고, <strong>커뮤니케이션 스킬</strong>로 풀어내야할 것이다. 서비스의 스펙을 줄이든지, 마감기한을 늦추는 방향으로 협의해 나가야한다. 나는 불안정 요소들을 인지하였지만, 커뮤니케이션 통로를 잘 찾지 못했던것 같다. 군대를 다녀와서 그런가? 내가 새로운 문제를 발견하면 내 사수에게 전달하여야 하고, 사수는 팀장에게 전달하며, 팀장은 본부장에게 전달하는 보고체계가 이루어져야 한다고 착각하고 있었다. 이 얼마나 어리석은 생각이었나 싶다.<br /><br />
문제가 있다고 판단되면, 사수에게만 보고해서는 고쳐지지 않을수도 있다. 간혹 팀장님께 직접적으로 말할 필요도 있고, 타 부서의 팀장을 찾아가야할 경우도 있다. 뭐 그럴일은 드물겠지만, CEO에게 직접 가서 말해야할지도 모른다는 생각도 가지고 있어야 한다. 커뮤니케이션 채널을 사수로 한정짓지 말자는 말이다.</p></p>
<p><span class="my-expectation">나의 기대</span><br /><br />
창의적인 아이디어 회의가 주를 이루고, 새로운 가치 생산에 많은 투자를 할 것이다.</p></p>
<p><span class="real-environment">나의 생활</span><br /><br />
회사생활 하는 사람들은 다양하다. 회사를 취미로 다니는 사람도 있을테고, 먹고 살기위해 다니는 사람, 딱 필요한 만큼만 일하는 사람, 주인정신을 가지고 열정적으로 일하는 사람. 등등.<br /><br />
나는 회사 구성원의 모두가 창의적이고, 똘똘 뭉쳐서 으쌰으쌰 할꺼라 기대했던것 같다. 하지만 실상이 그렇지 않다는것은 회사 생활 조금이라도 해본 사람이라면 공감할 것이다.<br /><br />
따라서 창의적인 아이디어를 내고, 실 서비스화 하고, 그것으로 인해 보상받고 인정받는 일련의 프로세스의 주인은 내가 되어야한다. 타인에게 기대를 걸고, 수동적이지 말아야한다는 것이다. 타인의 도움이 필요할때에 도움을 요청하면 되는것이다.<br /><br />
moavideo 만들었을때를 생각해보자. 팀장님께서 많은 도움을 주셨지만, 내가 더 적극적이어야했다. 타 서비스에도 적극적으로 홍보하고, 연속재생을 이용한 모바일에서의 광고도 먼저 제안할 수 있는 기회였다. 하지만 나는 급하고 중요한것(회사에서 푸시하는 프로젝트들)에 몰두한 나머지 moavideo를 살리지 못했다. 너무 아쉬운것이다.<br /><br />
이러한 창의적인 아이디어를 생각해내고, 서비스에 반영되고, 그만큼의 보상을 받으려면, 1인 기업가 정신으로 임해야할것이라는 교훈을 얻을수 있었다.</p></p>
<p><strong>좀 더 명확해진 나의 직업관</strong><br /><br />
- 남이 시켜서 하는 개발은 하고 싶지 않다.<br /><br />
- 내 시간은 내가 매니징 할 수 있는 직업이 좋다.<br />
- 사람을 만나서 서로의 경험을 공유하고, 이야기 나눌수 있는 직업이 내 적성과 잘 맞는다고 좀 더 믿게되었다.</p></p>
