---
layout: post
status: private
published: false
title: "마케팅을 하려는 이유"
author:
  display_name: yoonsy
  login: nscorpio16
  email: nscorpio16@gmail.com
  url: http://yoonsy.kr
author_login: nscorpio16
author_email: nscorpio16@gmail.com
author_url: http://yoonsy.kr
wordpress_id: 289
wordpress_url: http://yoonsy.kr/?p=289
date: '2012-12-12 14:19:04 +0900'
date_gmt: '2012-12-12 14:19:04 +0900'
categories:
- "마케팅"
tags:
- "적성"
- "마케팅"
- "직업"
- "진로"
comments: []
---
<blockquote>
<p>[3학년 1학기] 김태원님의 '젊은 구글러의 편지'를 읽으면서 책에 흥미를 가지기 시작. 그 책의 영향으로 공모전 세계에 눈뜨게 됨. 공모전을 통해 학교 밖의 뛰어난 사람들을 만나게 되고, 우물안의 개구리였다는 것을 알게됨. 인생의 터닝포인트에 부스터 역할을 해준 '셀프리더십과 비전만들기' 과목을 듣게됨. 내 인생의 첫 비젼 '인터넷을 통해 세상을 바꾸자' 를 가지게 됨. 강의 레포트로 롤모델 인터뷰를 해오라고 하심. 나는 구글러로 정했지만 개인연락처를 알 방도가 없었음. 그래서 무작정 역삼역의 구글코리아로 찾아감. 처음 인사하는 태도부터 상황설명, 말투, 인생 계획표, 질문 목록 등 치열한 준비로 1:1 인터뷰를 얻어내고 저녁까지 얻어먹음. 내 대학생활 중 가장 가슴 뛰었던 경험. 첫 공모전으로 미국 실리콘밸리를 다녀옴. 공모전의 목적을 '여행경비 마련'으로 정하는 어리석은 실수를 범함. 미국에 가서 큰 성과없이 여행만 하다 옴. 실리콘밸리 기업들을 탐방할 수 있는 절호의 기회를 놓침. 대학생활 중 가장 후회되는 경험. 이런 과정에서 컴퓨터 공학에 대한 적성을 고민하기 시작함. 가만히 앉아서 컴퓨터 하는것보다 원하는것을 얻기 위해 일을 기획하고, 그것을 잘 마무리하며, 사람들과 관계를 만드는것에 더 큰 흥미를 느낌. 하지만 내 목소리를 잠시 묻어둠.</p><br />
</blockquote></p>
<hr />
<p>위 글은 대학교 3학년 1학기 때 나의 모습이다. 쉬는기간동안 나의 과거를 하나하나 되짚어 보면서 <strong>'내가 무엇을 좋아하고, 어떤 일에 가슴 뛰었는지.'</strong> 한번 더 확인하기 위해 작성했던 글의 일부분이다.</p></p>
<p style="text-decoration:underline;">
  구글러를 인터뷰 하기 위해 전략을 짜고, 치열하게 준비했던 경험. 그런 준비를 바탕으로 도전적으로 부딪혀서 내가 원하는것을 얻고, 성취감을 맛보았던 그 경험.<br />
</p></p>
<p style="text-decoration:underline;">
  실리콘밸리 탐방을 위해 시장조사를 하고, 담당자들과 연락해서 미팅 일정을 잡고, 얻고자 하는것이 무엇인지를 정의하고, 공모전 심사위원들을 설득해서 결국 내가 원하는것을 얻었던 경험.<br />
</p></p>
<p>나는 이런 것들에 가슴이 뛰었고 흥분했다. 컴퓨터 앞에 앉아서 자판을 두드리고, 결과물을 만들어내는것도 재미있었지만 그냥 소소한 재미였던것 같다.</p></p>
<p>그럼 나를 흥분하게 만드는 일은 직업적으로 어떻게 할 수 있을지 찾아야했다. 적성에 맞는 직업을 찾기 위한 최고의 방법은 그 직업을 경험해 보는 것이고, 그 다음으로는 그 직업을 가진 사람을 만나보는것이다. 그것도 쉽지 않다면 책과 인터넷 등 간접적인 방법을 통해 정보를 얻는수 밖에 없다. 나는 내 적성에 맞는 직업을 찾기 위해 모든 방법을 다 사용했던것 같다. 그러던 중 만났던 서비스와 블로그를 잠시 추천하고 넘어가려고 한다.</p></p>
<ul>
<li><a href="http://beta.menple.com/">menple</a> : 커피 한 잔을 하면서, 해당 직업 종사자와 만날 수 있는 플랫폼을 제공한다. 강추!</li>
<li><a href="http://www.nanujob.com/">nanuJOB</a> : 멘토 한명과 멘티 여러명의 만남을 주선해준다. 소정의 참가비가 있으며, 멘토수가 많은 경우에는 질문의 기회가 줄어든다는 단점이 있다.</li>
<li><a href="http://blog.naver.com/livwilly/">국제MIA의 블로그</a> : 상당히 많은 직업들을 해부해 놓았다. 뿐만 아니라 기업 합격 스펙 등을 공개하며, 학벌/전공/나이에 구애받지 않고 자신이 원하는 삶을 살 수 있도록 도와주고 희망을 준다.</li><br />
</ul></p>
<p>나는 이런 저런 방법을 통해 환경미화원부터 의사, 변호사, 심지어 대통령 까지 모든 가능성을 열어놓고 나의 상황과 가치관을 맞추어 보았다. 그 결과 공학적 배경지식, 적절한 보수와 사회적 인식, 짧은 준비기간 등을 고려해서 IT 국내 영업/마케팅 분야로 정하게 되었다.</p></p>
<p>마케팅으로 정한 배경에는 내가 살고자 하는 삶을 먼저 살고 계신 분들이 마케팅 관련 일을 하고 있다는 사실도 한 몫 했다. 그 분들을 살짝 언급하자면 (너무도 유명해서 다들 잘 알만한 분들이다.) <a href="http://www.linkedin.com/pub/taewon-kim/28/666/58b">Googler 김태원님</a>, <a href="http://www.hyunyu.com/">Googler 김현유님</a>, <a href="http://sanbaek.com/">스탠포드 MBA 백산님</a> 등이다.</p></p>
<p>이제 그 분야에서 일하기 위해 철저하게 준비하는 일만 남았다. 현재 대학생의 신분도 아니기에 공모전 참가는 힘들다. 그리고 마케팅을 준비하는 대학생들의 흔한 방법으로 똑같이 준비한다면 승산이 없다. 내가 그 사람들보다 나이도 많고 비 전공자라는 디스어드벤티지에 눈에 보이는 스펙까지 비슷하다면 과연 누가 나를 채용하겠는가. 이제부터 나만의 의미있는 경험을 하고, 그것을 스토리로 풀어내야만 성공할 것이다.</p></p>
<p>나를 믿자! 아자자자!!</p></p>
