---
layout: post
status: publish
published: true
title: "인터넷 비즈니스는 아직 할 게 많다."
author:
  display_name: yoonsy
  login: nscorpio16
  email: nscorpio16@gmail.com
  url: http://yoonsy.kr
author_login: nscorpio16
author_email: nscorpio16@gmail.com
author_url: http://yoonsy.kr
wordpress_id: 244
wordpress_url: http://yoonsy.kr/?p=244
date: '2012-12-05 15:25:48 +0900'
date_gmt: '2012-12-05 15:25:48 +0900'
categories:
- "미분류"
tags:
- "스타트업"
- Mary Meeker
- "인터넷트렌드"
comments: []
---
<p>지난 12월 3일에 <a href="http://www.slideshare.net/kleinerperkins/2012-kpcb-internet-trends-yearend-update">Mary Meeker의 '2012년 인터넷 트렌드'</a>가 발표되었다. 주요 내용은</p>
<ul>
<li>인터넷 시장은 아직 건재하다. 특히 모바일은 아직 초창기이다.</li>
<li>뉴 디바이스 + 실시간 + 인터페이스 + 클라우드 등의 결합으로 거의 모든 것에 새로운 창조가 가능하다.</li>
<li>생활이 가볍고 편리해졌고, 접근성 또한 높아졌다.</li>
<li>어쨌꺼나 저쨌거나 전망이 밝다.</li><br />
</ul></p>
<p>등으로 요약할 것 같다. 모든 주장에는 데이터 혹은 사례를 들어 근거를 제시해 놓았다. 시간이 괜찮으면 한번 훑어봐도 좋을것 같다.</p>
<p>인터넷 트렌드 분석에 더불어 Facebook의 <a href="http://techcrunch.com/2012/12/02/whats-up-with-whatsapp-facebook-might-want-to-buy-it-thats-what/">Whatsapp 인수설</a>, 그리고 <a href="http://techcrunch.com/2012/12/04/messenger-no-facebook-account/">연락처 기반의 메신저</a> 등의 움직임을 함께 놓고 보았을 때, 페이스북의 '피쳐폰 유저 끌어들이기 작전'이 아닐까 하는 생각이 든다. 피쳐폰 유저가 많다는 것은 그만큼 형성가능한 스마트폰 시장도 크다는 것이다. 페이스북이 그 시장을 노리고 있는것은 아닐까.</p>
<p>(조금 오래된 2003년 영상이지만,) <a href="http://www.ted.com/talks/jeff_bezos_on_the_next_web_innovation.html">Amazon CEO Jeff Bezos 의 TED 영상</a>에서도 강조 하듯이 인터넷 서비스에는 아직 불편한것들이 너무 많다. (특히 우리나라에서는 액티브X와 결제 문제로 발생하는 여러 문제들. 그 법적인 제재가 풀리면 좋은 서비스들도 많이 나오지 않을까) 다만 내 생각에는 그 환경이 데스크탑에서 모바일로 바뀌어가고 있다는 것이고, 혁신을 이끌어내는 주체가 대기업에서 스타트업으로 변해가고 있다는 것이다. 그리고 그 스타트업을 대기업이 인수해나가는 생태계가 만들어지고 있는 느낌이다.</p>
