---
layout: post
status: publish
published: true
title: "이태백에게 던지는 메시지"
author:
  display_name: yoonsy
  login: nscorpio16
  email: nscorpio16@gmail.com
  url: http://yoonsy.kr
author_login: nscorpio16
author_email: nscorpio16@gmail.com
author_url: http://yoonsy.kr
wordpress_id: 73
wordpress_url: http://yoonsy.kr/?p=73
date: '2012-09-23 16:23:10 +0900'
date_gmt: '2012-09-23 16:23:10 +0900'
categories:
- "일상"
tags:
- "취업"
- "취직"
- "이태백"
- "김형태"
- "적성"
comments: []
---
<p>아래 글은 대학생 시절 크게 공감했었던 글 중 하나다. 다시 백수가 된 이 시점에 우연히 읽어보게 되었다. 지금 이 시간에도, 일자리를 찾아헤매이는 누군가가 이 글을 보게 된다면 자신을 한번 되돌아보았으면 좋겠다.</p></p>
<p>(원본은 어디에있는지, 원작자가 누구인지 모르겠어서 붙여 넣었습니다.)</p></p>
<hr />
<p>김형태님께 카운셀링 의뢰합니다.</p></p>
<p>안녕하십니까.</p></p>
<p>입춘이 지났건만 아직도 키보드를 치고 있는 제 손꾸락은 차갑기만 합니다. 김형태님께서는 몸건강하시겠지요.</p></p>
<p>다름이 아니오라 요즘 사회적 이슈인 '이태백' 의 일원인 본인의 넋두리를 들어주십사, 더불어 형태님의 생각을 들어보고 싶어 이렇게 얼어붙은 손꾸락을 움직이고 있습니다.</p></p>
<p>저는 지방대 디자인학과 졸업예정이고 다른 이태백 일원들과 마찬가지로 여러군데 이력서를 넣고 있는 와중입니다. 연락오는 곳은 별로 없고 무언가 불안하면서도 편안한(?) 생활이 이어지고 있습니다. 이곳저곳 이력서를 넣고 있지만 솔직히 제가 무엇을 하고픈지 알수가 없습니다. 원래의 전공인 제품디자인을 하고 싶다가도 디스플레이를 하고 싶기도 하고 영화공부를 하고 싶기도 합니다. 제품디자인을 하자 라고 하면 평생 영화공부는 커녕 영화찍는 것도구경하지 못할 듯하고 영화공부를 하자고 하면 학교다닐때 했던 과제들의 즐거움이 떠오릅니다. 일단은 먹고 살아야하니 직장을 다녀야 할듯해서 계속 이력서는 넣고 있지만 만약 회사에 다닌다면영화공부는 할 수 없을 것 같습니다. 완전히 영화에 미쳤다든가 비범하다든가 하는 인간극장에 나올법한 사람과는 거리가 멀기 때문에 회사에 다니면서 다른 것을 병행하기란 힘이 들 것 같습니다.</p></p>
<p>아 정말 모르겠습니다. 올해 후반에 있을 영화교육기관(?) 시험을 보고싶은데 모르겠습니다. 그때까지 매달려야할까 아니면 직장을 다니면서 틈틈히 해야할까. 그렇다고 영화라는 것이 내 평생 직업으로서 가치가 있는 것일까. 힘들고 배고픈 그 직업에 대해 환상을 가지고 있는 것은 아닐까나.</p></p>
<p>또한 4년동안 했던 디자인은. 대체. 기대를 걸고 있는 부모님의 얼굴이 떠오릅니다. 부모님께서는 당연히 제가 하고 싶은 것을 하도록 놔두시겠지만 그래도 안정된 직장생활을 하면서 부모님께 조금이라도 호강을 시켜드리고 싶습니다. 하지마는 그 '안정된'직장생활의 끝에는 나의 꿈이 있을것 같진않습니다. 백수가 되어 이것저것 가릴때는 아니지만 신중하고 싶습니다. 섣불리 조금 앞만 바라보고 결정했다가는 나중에 후회 할 일들이 이만저만이 아닐것 같습니다. 사실 이 글을 쓰면서 생각하기를 일단은 취직을 하고 회사에 다니면서 영어공부를 하고, 영화쪽이나 디자인 쪽으로 유학을 가리라는 생각을 했습니다. but 회사를 몇년 다니면 유학을 갈 수 있을까, 아니면 그 영화교육기관에는 들어갈수 있을까. 라는 생각이 부메랑처럼 또 따라옵니다. 횡설수설 앞뒤 안맞는 소릴 해댔습니다.</p></p>
<p>하고 싶은 일이 많다는 것이 행복한 고민일까요. 어쩌면 진짜 하고싶은 것이 없어서 하는 소릴지도 모르겠습니다. 조금 더 많이 사신 형태님께서는 지금 제가 어떤 선택을 해야 형태님의 나이가 되어서는 그때 나 정말 잘했어 라는 말을 할 수 있을까요. 조언 부탁드립니다.</p></p>
<p>읽어주셔서 감사합니다.(앗 이것은 자기소개서 끝에 오는 말)</p></p>
<p>===========================================================</p></p>
<p><strong>답변</strong></p></p>
<p>당신은, 요즘 20대 청년실업자의 전형입니다. 20대가 왜 그렇게 취직하기가 어려운 줄 아십니까? 사람들은 불경기라서 그렇다고 말하지만, 사실은 그 반대입니다.</p></p>
<p>20대들이 정확히 하고 싶은 일이 없고, 확실하게 할 줄 아는 것이 없고, 겁은 많아서 실패는 무진장 두려워 하고, 무엇이든 보상이 확실하게 보장되지 않으면 절대 시작도 하지 않으며 눈은 높아서 자기가 하는 일도, 주변의 현실들도 모두 못마땅하고, 시시껄렁하고, 옛날 사람들처럼 고생고생하면서 자수성가하는 것은 할 자신도 없고 하고 싶지도 않고, 어떡하면 편하고 안정된 직장을 얻어 돈을 벌수 있을까만 궁리합니다. 20대가 그런 식이니까 사회가 무기력해지고 경제가 침체되어 불경기가 오는 것이죠.</p></p>
<p>그럼 세상은 어떤지 이야기 해드리죠.</p></p>
<p>취업문이 좁다고들 난리지만, 사실 모든 회사에서는 새로운 인재가 없어서 난리입니다. 세상은 자꾸 변해가고 경제구조도 바뀌어가니까 새로운 젊은 인재들이 회사에 들어와서 젊은 피를 수혈해줘야 하는데 이력서를 디미는 젊은이들은 하나같이 개성도 없고 창의력도 없고 일에 대한 열정도 없이 그저 돈만 바라보고 온 사람들입니다. 회사입장에서 볼 때 그런 사람들은 조금만 더 나은 봉급을 주는직장이 나타나면 미련없이 회사를 그만둘 사람들로 보이고, 또 그들이 기대하는 젊은 혈기와 창의력도 없이 누구나 학원 좀 다니면 딸수 있는 뻔한 자격증만 잔뜩 가지고 오죠. 그래서 요즘 회사들은 신입사원 최우선 기준이 '충성도'랍니다. 이말인즉슨, 너희는 그냥 시키는 일이나 로보트처럼 한다면 일자릴 주겠다.는 뜻이죠. 개성과 창의력은 포기하고 잡부나 시키겠다는 것입니다.</p></p>
<p>지금 20대들은 자신들이 신세대이고 새로운 감각을 가지고있다고 믿겠지만, 사실, 회사나 산업현장에서 당장 필요한 능력은 그런 겉멋이나 추상적인 감각이 아닙니다. 그리고 직장은 돈을 벌자고 다니는 것이 당연하겠지만, 당신처럼 하고싶은 일은 따로 있으면서 단지 돈만 바라보고 원하지도 않는 직장에 입사원서를 내는 것을 회사중역들은 모두 알고 있습니다. 그러니 500명 1000명이 와도 뽑을 사람이 없는 것이죠. 이를테면 사랑하는 사람이 따로있는 사람과 결혼을 하겠습니까? 그런 사람은 세상 어디에서도 원하지 않습니다. 20대가 취직을 못하는 이유는, 바로, 특별히 할줄 아는 일도, 특별히 하고 싶은 일도 없기 때문입니다.</p></p>
<p>모든 어른들은 그 사실을 면접때 눈빛만 봐도 다 알아봅니다.</p></p>
<p>그리고, 나약한 의지박약에 굴리는 잔대가리가 문제입니다. 당신이 쓴 글을 보십시오. 이것도 하고 싶고 저것도 하고 싶은데, 저걸 하면 배고플 거 같고, 이걸하면 잘 된다는 보장은 없고 돈도 벌고싶으니 취직도 하고싶은데 직장은 재미없을 것 같고.... 그 와중에 대학원엘 갈까 유학을 갈까... 편안한 학생신분만 연장하려고 하고, 대체 뭘 하고싶다는 것입니까.</p></p>
<p>당신의 진로문제를 짧게 정리해보면, '하고싶은 건 많지만 고생 해가면서 까지 꼭 해야할 건 아니고, 그냥 먹고살게 안정된 직장에들어가면 좋겠는데 그게 쉽지도 않거니와 또 시시할 거 같아요' 입니다. 그런 사람을 받아주는 회사는 세상에 하나도 없습니다. 그리고 그런 사람이 만든 영화가 감동스러울 수 없고, 그런 사람이 기획한 디자인이 아름다울 리 없습니다.그래서, 오늘날의 20대들이 그렇게 많은 자격증과 명문대 졸업장과 수백장의 입사원서를 들고 뛰어 다녀도 취직이 안되는 이유이고, 나라의 심장부가 그 모양이니 이 나라의 경제가 침체되고, 장기불황이 시작되는 이유인 것입니다.</p></p>
<p>이렇게 이야기하면, 당신들은 잘못된 교육탓으로 돌립니다.</p></p>
<p>물론 맞는 이야기입니다. 동정표 한장! 하지만, 교육이 엉망이었던 것은 예나 지금이나 마찬가지였습니다. 그래도 당신들의 부모나 선배들은 더 발전적인 삶을 살았다는 것을 보고 배워야합니다. 훨씬 열악한 환경 안에서 훨씬 일찍 철이 들고, 나라를 발전 시켰으며 그 와중에 나름대로의 문화생활도 영위했습니다. 남탓, 시대탓, 환경 탓하는 것만큼 구제불능의 바보는 없습니다.</p></p>
<p>참고로, 아시아 모든 국가 중에서 우리나라가 청소년의 어른에 대한 공경심 조사에서 꼴찌를 차지했다는 사실을 기억하십시오.</p></p>
<p>어른을,선배를, 과거를 존경하지 않는 젊은이는 원대한 꿈을 가질 수 없습니다.</p></p>
<p>꿈과 희망이란, "나도 저 누군가처럼 될테다." 하는 동경에서 시작 되는 것이거든요.</p></p>
<p>당신들의 큰 바위 얼굴은 누구입니까? 그런 게 있습니까? 오직, 자기자신과 돈에 대한 동경만 있지않은가요?</p></p>
<p>섣불리 결정했다가 나중에 후회할까 두렵다고요? 왜 해보지도 않은 일을 후회할 걱정부터 합니까? 보지도 않은 영화를 재미없을까봐 포기하고, 가보지도 않은 여행지에 볼 게 없을까봐 안 가기로 하고, 저 요리가 맛이 없을까봐 안 먹고...사는 건 대체 뭘까요? 당신이 어떤 인간인지 당신은 알고 있습니까? 정말 영화를 얼마나 좋아하는지, 얼마나 잘 만들 수 있는지, 디자인은 또 얼마나 훌륭하게 할 지, 회사를 다니면 얼마나 뛰어난 업무능력이 발휘될 지, 당신이 어떻게 해보지도 않고 침대위에서 그 짧은 인생경험으로 알 수 있겠습니까. 양다리에 삼발이에 문어발로 온갖 일에 맘을 다 걸쳐놓고 실제로 하는 일은, 해본 일은 하나도 없으니 불안할 수 밖에요. '하고싶은 일이 많다는 행복한 고민'이요? 웃기는 자위입니다. '내가 뭘 할줄 알고 뭘 하면 행복해 하는 인간인지 이 나이 먹도록 하나도 모르겠어요.'로 들리는 헛똑똑이의 넋두리로밖에 안들립니다.</p></p>
<p>좀더 신랄하게 당신의 심리를 파헤쳐보자면, 영화를 하고 싶다는 것은 현실도피성 희망입니다. 솔직히 디자인도최고로 잘할 자신이 없는것이죠. 자신의 전공쪽으로도 별로 희망이 보이지 않으니까, '사실 나는 디자인보다 영화에 관심이 훨씬 많다. 그래서 늦게라도 영화공부를 다시 한다.' 라는 상황에 대한 알리바이를 미리 준비해 두려는 것이죠. 취직이 계속 안되는 상황에도 대비하고 있습니다. 여기저기 입사원서 던지다가 어디 좋은데 운 좋게 취직되면, 당신은 이러겠죠. "먹고 살아야하고, 부모님께도 효도하려고 내가 진짜 좋아하는 디자인과 영화를 포기했어." 그냥 나약한 생활인일 뿐인데 어느새 순교자로 승화되는거죠.</p></p>
<p>그 좋은 머리를 그런 자기합리화에 쓰기에 바쁘니 뭘 하나 똑부러지게 실천하겠습니까.</p></p>
<p>내 말이, 억울합니까? 그럼 실천해 보십시오. 우선, 근무조건이 좀 열악한 직장을 선택해서 취직을 하세요. 그럼 금방 취직됩니다. 봉급도 좀 만족스럽지 못하겠지만, 자기 한입 먹고 살만큼은 줄 겁니다. 그리고 20년 계획으로 영화에 대한 공부를 시작하세요. 용돈을 쪼개서 모으고 모아서 캠코더를 사고... 컴퓨터를 사서 편집장비를 마련하고 (왠만한 PC로 다 가능합니다) 책을사서 읽고, 주말에 영화 관련 포럼에 찾아 다니고, 틈틈히 시나리오를 쓰고, 휴가때는 비디오 영화를 만들어 보고, 이 모든 것은 직장 다니면서 할 수 있습니다. 게다가 20년 계획으로 꾸준히 하면, 습작이 꽤 될거고, 시나리오도 몇편 나올 겁니다. 디자인 공부한 건 영화에 고스란히 활용될 거니까 아깝다고 생각하지 말고요, 그렇게 해서 40대가 되면, 당신은 어느새 다니던 직장에서 직위도 올라가있어서 월급도 꽤 되고 어느새 안정된 직장이 되어있으며, 영화 감독으로 데뷔하기에 경쟁자가 없으리만큼 탄탄한 준비를 가진 40대 신예 영화감독이 되어있을 것입니다.</p></p>
<p>그럼 바로 성공이냐? 아니죠. 입봉하고 나서 한 10년 현장에서 시행 착오도 겪고, 기대도 받았다가 실패도 했다가 오르락내리락하면서 진정한 실력을 쌓습니다. 앗 어느새 50대가 되었네요. 여러분들은 이정도되면 인생 쫑났다고 생각할 겁니다. 그러나 나이먹고 알고보면, 세상은 어른들의 세계입니다. 그렇게 30년 줄기차게 정진해서 60가까이에 걸작을 하나 남길 수 있다면, 당신은 최고로 멋진 인생을 산 것입니다. 인생은 결과보다 과정에 더 많은 가치가 있으며, 결과까지도 좋다면 더 바랄 나위가 없는 것이거든요.</p></p>
<p>'인생은 60부터' 란 말에는 삶의 커다란 진실이 있습니다.</p></p>
<p>그러나, 당신은 그렇게 하지 않을 것입니다. 내 말을 못 믿어서가 아니라, 후줄근한 직장에 다니면서 20~30년이나 투자할 만큼 영화를 그 정도로 갈구한 것도 아니거든요. 이 글을 읽는 동안에도, 저렇게 할 수 없는 피치못할 적당한 구실을 찾느라 머리를 쓸 뿐이죠. 벌써 몇가지 변명을 만들어 냈을지도 모르죠. 결국 자기 인생에 변명을 만드느라 젊은 날을 허비하고 있다면 참 암울할 뿐입니다.</p></p>
<p>당신들, 정말, 왜들, 그렇게도, 경험으로 진리를 찾기를 두려워한답니까?</p></p>
