---
layout: post
status: publish
published: true
title: "첫 직장과 제주가 내게 남긴것들. (1)"
author:
  display_name: yoonsy
  login: nscorpio16
  email: nscorpio16@gmail.com
  url: http://yoonsy.kr
author_login: nscorpio16
author_email: nscorpio16@gmail.com
author_url: http://yoonsy.kr
wordpress_id: 103
wordpress_url: http://yoonsy.kr/?p=103
date: '2012-10-05 17:43:44 +0900'
date_gmt: '2012-10-05 17:43:44 +0900'
categories:
- "미분류"
tags:
- "제주"
- Daum
comments: []
---
<p>2011&#46;01.04 - 입사<br /><br />
2011&#46;03.15 - 제주로 이동<br /><br />
2012&#46;09.11 - 퇴사<br /><br />
2012&#46;10.08 - 육지로 복귀</p></p>
<p><strong>첫 직장 생활을 이쯤에서 접게되었다. 그것이 나에게 남긴것은 무엇이며, 앞으로 내가 살아갈 날에 어떤 도움을 줄까?</strong></p></p>
<p><strong style="color:orange">1. 회사는 훌륭한(효율적인, 합리적인) 시스템을 갖추고 있지 않다.</strong></p></p>
<p><strong>'인터넷을 통해서 사람들에게 가치를 제공하자'</strong> 라는 거창한(?) 비젼을 가지고, 대학교 3학년부터 인터넷 회사 입사 준비를 했었다. 편리하면서 가치있는 서비스를 만들어내고, 그것을 몇 만명이 사용하게 된다면 얼마나 기쁠까? 생각만해도 두근거렸다.<br /><br />
그러고 드디어 입사. 처음 몇 개월은 어리둥절하게 적응해 나가느라 정신이 없었다. 모자란 실력도 쌓아야하고, 업무에 쓰이는 시스템들도 공부해야했다. 팀분들과 가까워지기위해 회식자리도 가져야했다. 그러다 어느새 하나의 서비스를 맡아 기획 요구사항들을 구현해내고 있었다. 그래, 기분좋았다. 이렇게 큰 서비스의 하나 하나가 내 손을 통해 세상밖으로 나간다는것이.<br /><br />
허나, 내 손을 통해야 하는 것들이 점점 더 늘어날수록 그만큼 내 퇴근시간도 늦춰졌다. 8시퇴근, 9시퇴근, .... 12시퇴근. 나도 이제 스스로 스케쥴관리를 해야할 때가 온것이다. 우선순위를 정하고, 기획자의 요구를 받아들일 것인지/추후에 할 것인지/하지 않을 것인지 결정해야할 때가 온것이다.<br /><br />
하지만, 나에게 있어 기획자의 요구사항 이란, 특별한 이유없이 거절하면 안되는것이었다. 기획자가 개발자에게 요구한다는것은, 팀장급 회의에서 결정된 사항들을 개발자에게 구체적인 스펙으로 전달 한다는것이었다. 팀장급 회의에서 결정 되었다는것은, 기획팀장 / 개발팀장 / 디자인팀장 / 서비스 유닛장들이 모여 회사의 전략을 하나 둘 실현하려는 것이었다. 따라서, 내가 기획자의 요구사항에 태클을 건다는것은, 회사 전략에 태클 하겠다는 것이었다.<br /><br />
<strong>하지만, 이것은 나의 착각이었다.</strong> 지금 글을 쓰면서도 부끄러울 정도로 어리석은 생각이었다. 왜 어리석은 생각인지는 많은 이유들이 있겠지만, 간단히 내 생각을 말하자면 일이 전달되는 과정에서의 '커뮤니케이션의 오류'와 '모든 담당자들의 완벽하지 못함'에 있다고 생각한다.</p></p>
<p>팀장이 팀내 모든 업무 상황을 100% 이해하고 회의에 참석하는것일까? 난 그렇지 못하다고 본다. 기본적으로 팀장이 팀내 모든 업무상황을 알고 있을수는 없다. 따라서, 업무 진행상황은 수시로 보고 되어야하고, 팀장은 수시로 확인 하여야한다. 업무가 주어졌을때에도 뭔가 걸리는 부분이 있다면 (그것이 일정상의 문제가 되었든, 기획상의 문제가 되었든, 시스템상의 문제가 되었든) 적극적으로 말해야한다. 쉽게 말할 수 있는 부분은 아니지만 말해야한다. 하지만 나를 포함한 내 주위 사람들은 애로사항을 기꺼이 말하지 않는다. 괜한 트러블 일으키기 싫어서, 불평 불만이 많은 사람으로 각인될까봐, 말을 하더라도 반영될 확률이 적다는 판단하에 말하지 않는다. 그냥 자신이 조금 더 고생하면 될 문제라고 생각한다. 이렇게 말을 하지않으면, 리더는 애로사항을 알기어렵다. 리더는 어떤 애로사항이 있는지 잘 모르는체로 팀장회의를 들어갈것이다. 그러고는 또 하나의 의사결정이 내려질것이다. 하나의 예로 설명했지만, 이런 악순환이 반복되면서 회사는 완벽한 모습을 갖추기 어렵게 되는것이다. 이것이 내가 얻은 첫번째 교훈이다.</p></p>
<p><strong style="color:orange">회사는 완벽할 수 없다. 그 부분을 인정하고, 발전적인 방향으로 바뀔수 있도록 의견을 개진하는 노력을하자.</strong></p></p>
