---
layout: post
status: publish
published: true
title: "행복지수 높은 나라"
author:
  display_name: yoonsy
  login: nscorpio16
  email: nscorpio16@gmail.com
  url: http://yoonsy.kr
author_login: nscorpio16
author_email: nscorpio16@gmail.com
author_url: http://yoonsy.kr
wordpress_id: 189
wordpress_url: http://yoonsy.kr/?p=189
date: '2012-11-19 16:44:47 +0900'
date_gmt: '2012-11-19 16:44:47 +0900'
categories:
- "미분류"
tags:
- "행복"
- OECD
- BLI
- HPI
comments: []
---
<p>평소에 '어떻게 살아야 행복할까?' 라는 주제에 관심이 많았다. 몇 년간 계속 해오던 고민이고, 앞으로도 쉽게 풀리지 않을것 같은 문제이다. 쉽게 풀리면 좋으련만!!</p>
<p>몇 해의 고민 끝에 내가 (잠정적으로) 결론 내린 행복은<br />
<strong>'하고 싶은 일 하면서, 주위 사람들과 나에게 많은 시간을 투자하고, 작은것에도 감사하며, 현재를 살아가는것'</strong><br />
이라는 한 문장으로 정의할 수 있을것 같다.</p>
<p>이런 생각을 가지고 오늘도 살아가고 있었는데, 샤워하면서 문득 <span style="text-decoration:underline">'세계에서 가장 행복한 나라는 어디일까?', '한 번 가보고 싶다. 사람들의 표정도 보고 싶고, 어떤게 행복이라고 느끼면서 사는지 궁금하다.'</span> 라는 의문이 들었다. 마음 같아서는 나만의 프로젝트로 한 번 진행해보고 싶지만, 행동으로 옮길지는 아직 미지수이다. 그렇게 해서 찾아보게된 세계에서 가장 행복한 나라.</p>
<p>각 기관마다 행복을 기준짓는 항목이 다르고, 결과 또한 큰 차이를 보인다. 그래도 그 중 참고할만한 세가지를 골라보았다.</p>
<h3><a href="http://www.oecdbetterlifeindex.org">OECD BLI</a> (총 36개국)</h3></p>
<p>1위 : 호주<br />
24위 : 한국</p>
<h3><a href="http://www.happyplanetindex.org/data/">영국 NEF HPI</a> (총 151개국)</h3></p>
<p>1위 : 코스타리카<br />
62위 : 한국</p>
<h3><a href="http://www.kihasa.re.kr/html/jsp/">보건사회연구(보건사회연구원 발간 학술지)</a> (총 34개국)</h3></p>
<p>1위 : 덴마크<br />
32위 : 한국</p>
<p>아.. 안그래도 호주로 연수겸 리프레쉬겸 해서 다녀올까 했는데, 조금 더 마음이 기울어질것 같다.</p>
