---
layout: post
status: publish
published: true
title: Rails cache
author:
  display_name: yoonsy
  login: nscorpio16
  email: nscorpio16@gmail.com
  url: http://yoonsy.kr
author_login: nscorpio16
author_email: nscorpio16@gmail.com
author_url: http://yoonsy.kr
wordpress_id: 365
wordpress_url: http://yoonsy.kr/?p=365
date: '2013-03-13 10:57:29 +0900'
date_gmt: '2013-03-13 10:57:29 +0900'
categories:
- "웹개발"
tags:
- rails
- cache
comments: []
---
<p>원문 : http://guides.rubyonrails.org/caching_with_rails.html</p></p>
<h3>1. Basic Caching</h3></p>
<p>레일즈에서 제공하는 기본캐싱에 관한 설명이다. (다른 라이브러리나 플러그인은 여기에서 설명하지 않는다.)<br /><br />
config/environments/*.rb 의 파일에서</p></p>
<pre><code>config.action_controller.perform_caching = true<br />
</code></pre></p>
<p>설정을 이용해 캐싱 on/off 가 가능하다. development 환경, production 환경 각각에서 캐싱을 설정할 수 있다.</p></p>
<h5>1.1 Page Caching</h5></p>
<pre><code>class ProductsController < ActionController<br />
  caches_page :index<br />
  def index<br />
    @products = Products.all<br />
  end<br />
end<br />
</code></pre></p>
<p>페이지 캐싱을 하려면 위 코드처럼 하면 된다.<br /><br />
products.html 파일이 Rails.public_path (보통 public 폴더) 에 저장되며, 자동으로 .html의 확장자가 붙게 된다. 디렉토리 설정은 <code>config.action_controller.page_cache_directory</code>, extension 설정은 <code>config.action_controller.page_cache_extension</code> 을 통해 변경가능하다. 변경후에는 서버 재구성(reconfiguration)이 필요하다.<br /><br />
product 가 추가되고 나서는 캐시를 expire 해줘야하는데,</p></p>
<pre><code>class ProductsController < ActionController<br />
  caches_page :index<br />
  def index<br />
    @products = Products.all<br />
  end<br />
  def create<br />
    expire_page :action => :index<br />
  end<br />
end<br />
</code></pre></p>
<p>해당 메서드에 <code>expire_page :action => :index</code> 이런식의 코드를 추가해주면 된다. (더 복잡한 expiration은 Sweepers 섹션을 참고하자.)<br /><br />
기본적으로 페이지 캐싱은 gzip 으로 압축된다.<br /><br />
Nginx 애서는 아래와 같은 설정으로 압축된 컨텐츠를 디스크에서 바로 전달할 수 있다.</p></p>
<pre><code>location /  {<br />
  gzip_static on; # to serve pre-gzipped version<br />
}<br />
</code></pre></p>
<p>아래와 같이 설정해주면, gzip 설정을 끄거나 :best_speed 같은 압축 레벨을 지정할 수 있다. (Zlib constants 참고)</p></p>
<pre><code>caches_page :image, :gzip => :best_speed // 혹은 false<br />
</code></pre></p>
<p>페이지 캐싱은 파라미터를 무시한다. products.html?page=2 이런거? 2페이지 무시된다. 그에 대한 대안은 productions/page/2 이런식으로 path 에 값을 넣는 것이다.</p></p>
<h5>1.2 Action Caching</h5></p>
<h5>1.3 Fragment Caching</h5></p>
<h5>1.4 Sweepers</h5></p>
<h5>1.5 SQL Caching</h5></p>
<h3>2. Cache Stores</h3></p>
<h5>2.1 Configuration</h5></p>
<h5>2.2 ActiveSupport::Cache::Store</h5></p>
<h5>2.3 ActiveSupport::Cache::MemoryStore</h5></p>
<h5>2.4 ActiveSupport::Cache::FileStore</h5></p>
<h5>2.5 ActiveSupport::Cache::MemCacheStore</h5></p>
<p>Danga's memcached 서버를 이용하고, memcache-client gem 을 기본적으로 사용하는 근래 가장 인기있는 캐시 저장소이다.<br /><br />
memcached 서버 주소를 명시 해줘야하며, 그렇지 않으면 로컬호스트의 기본 포트를 사용한다. 하지만 이것은 별로 좋지 않은 방법.<br /><br />
그리고 write / fetch 메서드는 아래의 두가지 추가 옵션을 갖는다. - :raw => string/number 타입의 값을 직렬화(serialization) 없이 서버로 바로 보냄. (increment and decrement 등)<br /><br />
- :unless_exist => 이미 존재하는 항목(entry)을 덮어쓰고 싶지 않을때 사용.</p></p>
<pre><code>config.cache_store = :mem_cache_store, "cache-1.example.com", "cache-2.example.com"<br />
</code></pre></p>
<h5>2.6 ActiveSupport::Cache::EhcacheStore</h5></p>
<h5>2.7 ActiveSupport::Cache::NullStore</h5></p>
<h5>2.8 Custom Cache Stores</h5></p>
<h5>2.9 Cache Keys</h5></p>
<h3>3. Conditional GET support</h3></p>
