---
layout: post
status: publish
published: true
title: Best shop 아르바이트
author:
  display_name: yoonsy
  login: nscorpio16
  email: nscorpio16@gmail.com
  url: http://yoonsy.kr
author_login: nscorpio16
author_email: nscorpio16@gmail.com
author_url: http://yoonsy.kr
wordpress_id: 318
wordpress_url: http://yoonsy.kr/?p=318
date: '2013-02-13 10:53:34 +0900'
date_gmt: '2013-02-13 10:53:34 +0900'
categories:
- "마케팅"
tags:
- "마케팅"
- LG전자
- Best Shop
- "판매"
- "영업"
comments: []
---
<p>LG전자의 B2C 마케팅 업무가 궁금해서 그들의 최 앞단에 있는 베스트샵(구 하이프라자)에서 아르바이트를 했다. (아르바이트 과정중에 베스트샵의 업무는 LG전자의 B2C 마케팅이 아닌 LG전자가 하이프라자에게 진행하는 B2B 업무 성격이라는 것을 알게 되었다.) 짧은 기간이었지만 몇 가지 느낀점들을 기록해 놓으려고 한다.</p></p>
<h3>장점</h3></p>
<ol>
<li>같이 일하는 사람들이 적극적이고, 밝은편이다. 일종의 영업 업무이다 보니 다들 오픈마인드 되어있다는 느낌을 받았다. </li>
<li>사람의 심리를 잘 이용한다면, 성과를 충분히 낼 수 있는 직업이다. (내가 만났던 선배는 고객을 네가지 유형으로 분류하고, 그에 따른 대응방법을 마련하고 있었다. 가오형/소심형/수다형/분석형)</li><br />
</ol></p>
<h3>단점</h3></p>
<ol>
<li>우선 다리와 허리가 굉장히 피곤한 일이다. 업무시간 중 95% 는 서 있었던 것 같다. </li>
<li>업무에서 오는 스트레스는 상식이 통하지않는 고객 혹은 블랙컨슈머를 만났을 때 발생한다. (잘못한 일이 없어도 빌어야 하는 경우가 있다.) </li>
<li>남들 쉴 때 일해야 한다. 남들 쉬는 시간이 매장이 바쁜 시간이다. 그러므로 휴무는 평일에 쓰도록.</li><br />
</ol></p>
<h3>개선하면 좋을 점</h3></p>
<p>모든 판매 사원이 제품에 대한 확실한 이해를 하지 못하고 있다. 제품별로 전문 사원을 배치하든지, 정기적인 교육을 통해 제품에 대해 깊고 정확한 이해를 시키든지 해야 할 것이다. 판매 사원이 자사 그리고 경쟁사 제품에 대한 이해, 관련 시장에 대한 분석등을 하고 있어야 고객을 잘 설득할 수 있고 그것을 매출로 연결시킬 수 있을것이다.</p></p>
