---
layout: post
status: publish
published: true
title: Rails Asset-Pipeline
author:
  display_name: yoonsy
  login: nscorpio16
  email: nscorpio16@gmail.com
  url: http://yoonsy.kr
author_login: nscorpio16
author_email: nscorpio16@gmail.com
author_url: http://yoonsy.kr
wordpress_id: 359
wordpress_url: http://yoonsy.kr/?p=359
date: '2013-03-07 09:01:41 +0900'
date_gmt: '2013-03-07 09:01:41 +0900'
categories:
- "웹개발"
tags:
- rails
- asset pipeline
comments: []
---
<p>원문 : http://guides.rubyonrails.org/asset_pipeline.html</p></p>
<h2>목적</h2></p>
<ul>
<li>javascript, css 의 merge &amp; minify </li>
<li>javascript, css 를 CoffeeScript, Sass, ERB 등 다른 언어로 사용가능하게 해줌 </li><br />
</ul></p>
<h2>Fingerprinting</h2></p>
<h2>Asset Pipeline 사용하기</h2></p>
<ul>
<li>Controller 하나 생성하면 컨트롤러 이름을 딴<br />
-- <code>assets/javascript/#{name}.js.coffee</code>, <code>assets/stylesheets/#{name}.css.scss</code> 파일이 생성된다.<br /><br />
-- <code><%= javascript_include_tag params[:controller] %></code> 이런식으로 응용 가능</li></p>
<li>app/assets, lib/assets, vender/assets 에 있는 파일들을 대상으로 파이프라이닝(?) 한다.<br /><br />
-- app, lib, vender 모든 폴더는 <code>//= require #{filename}</code> 으로 접근(참조)할 수 있다.<br>-- 위와 같은 방식 (<code>//= require #{filename}</code>) 으로 부르지 않고 사용할 assets 은 반드시 precompile array 안에 명시되어야 production mode 에서 사용가능하다. </li><br />
</ul></p>
<hr />
<p>원문의 2.1.1 까지 내용정리. 나머지는 필요할 때 추가 업로드 할 예정.</p></p>
