---
layout: post
status: publish
published: true
title: "모바일 웹 개발시 고려해야할 사항"
author:
  display_name: yoonsy
  login: nscorpio16
  email: nscorpio16@gmail.com
  url: http://yoonsy.kr
author_login: nscorpio16
author_email: nscorpio16@gmail.com
author_url: http://yoonsy.kr
wordpress_id: 322
wordpress_url: http://yoonsy.kr/?p=322
date: '2013-02-02 13:55:02 +0900'
date_gmt: '2013-02-02 13:55:02 +0900'
categories:
- "웹개발"
tags:
- media query
- mobile web
- "해상도"
- viewport
comments:
- id: 39
  author: "안녕하세요"
  author_email: abc@abc.com
  author_url: ''
  date: '2013-05-22 05:30:06 +0900'
  date_gmt: '2013-05-22 05:30:06 +0900'
  content: "좋은 정보 감사합니다. 딱 찾던 정보라 감사한 마음에 인사남기고 갑니다. ^^"
---
<p>모바일 웹 개발을 해본적이 있지만, 정해진 가이드에 따라가다보니 정확하게 이해하지 못했던것 같다.<br /><br />
정확하게 이해 했었더라도 시간이 많이 흘러 까먹은것 같다.</p></p>
<p>이 포스팅에서는 해상도를 기준으로 <strong>고려해야할 사항</strong>과 그에 따른 <strong>대처법</strong>을 정리해 보겠다.</p></p>
<h2>고려해야할 사항</h2></p>
<ul>
<li>스마트폰 해상도</li>
<li>CSS pixel ratio 와 dpi</li>
<li>html meta tag 의 viewport 값들</li><br />
</ul></p>
<h3>주요 해상도와 그 스마트폰 (2013.2.2 기준)</h3></p>
<ol>
<li>320 x 480 : iPhone3GS</li>
<li>480 x 800 : 갤럭시S, 옵티머스(Z,Q)</li>
<li>640 x 1136 : iPhone5</li>
<li>640 x 960 : iPhone4S</li>
<li>720 x 1280 : 갤럭시S3, 갤럭시노트2</li>
<li>768 x 1280 : 옵티머스G</li>
<li>800 x 1280 : 갤럭시노트</li><br />
</ol></p>
<p>이 외에도 많은 해상도가 있다. <a href="http://en.wikipedia.org/wiki/List_of_displays_by_pixel_density">wiki page</a>에 잘 나와있다.</p></p>
<h3>CSS pixel ratio 에 관하여</h3></p>
<p>위에서 보듯이 iPhone 4S의 가로 해상도는 640px 이다. css에 <code>width:160px</code> 로 지정한다면, 기대하는 크기는 화면의 <strong>1/4</strong> 이어야 한다. 하지만, 실제로 보여지는 크기는 <strong>1/2</strong>로 나타난다.<br /><br />
왜 그럴까? iPhone4S의 경우에는 <span style="text-decoration:underline;">CSS pixel ratio 값이 '2'</span>이기 때문에 1/4 크기가 아닌 (1/4) X 2 인 1/2 크기로 표현된다. (160px 의 두배인 320px 인것처럼 표현된다.)<br /><br />
<strong>디바이스 해상도에서 CSS pixel ratio 를 나눈값</strong>이 디바이스가 css 에 대응하는 픽셀 값이다.</p></p>
<p><span style="color:orange;">즉! 디바이스의 해상도가 640px 이지만, 그냥 320px 로 생각하고 코딩하면 된다는 뜻이다.</span></p></p>
<h3>dpi 에 관하여</h3></p>
<p>마찬가지로 갤럭시S 를 예로 안드로이드 폰을 알아보겠다.<br /><br />
갤럭시S의 가로 해상도는 480px 이고, 240dpi (hdpi) 이기 때문에 480 / 1.5 로 계산해서 디바이스 가로 화면의 크기가 320px 로 생각하고 코딩하면 된다.<br /><br />
1.5 라는 계수는 'px = dp X (dpi/160)' 이라는 공식에서 나왔으며, 갤럭시S의 경우 '480 = css와 대응되는 px 값 X (240/160)' 계산을 통해 480px 해상도는 320px 의 css 와 대응된다는 것을 알 수 있다. (<a href="http://developer.android.com/guide/practices/screens_support.html">안드로이드 개발자 페이지 참고</a>)<br /><br />
이해를 돕기 위해 하나의 예를 더 들어보자면, <code>width:160px</code> 을 스타일로 적용시키면, 'px = 160 X (240/160)' 이라는 공식을 통해 디바이스 상에는 240px 로 인식되면서 갤럭시S 화면의 1/3이 아닌, <strong>1/2</strong>을 차지하게 되는 것이다.</p></p>
<p><span style="color:orange;">즉! 디바이스의 해상도가 480px 이지만, 그냥 320px 로 생각하고 코딩하면 된다는 뜻이다.</span></p></p>
<p>하지만, 이러한 계산식을 통해서도 320px 이 아닌 480px 등으로 계산되는 디바이스들이 있을것이다. 하나의 예로 갤럭시 넥서스 같은 경우는 해상도 720px 에 320dpi 를 가지고 있다. 계산을 해보면 css 360px 와 대응된다.<br /><br />
이런 경우, 320px 위주로 css를 코딩해 놓았다면 media query 등을 통해 360px 에 대응하는 코드를 작성해야 할 것이다.</p></p>
<h3>해결법에 관해서는 다음번에 다시 정리해보겠다.</h3></p>
<p>밑에는 리서치중에 그냥 적어놓은것.</p></p>
<h3>웹 사이트들의 viewport</h3></p>
<pre><code>Google<br />
// Android<br />
<meta content="width=device-width,minimum-scale=1.0" name="viewport" /><br />
// iPhone<br />
<meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" />  </p>
<p>Naver<br />
// Android, iPhone<br />
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" />  </p>
<p>Daum<br />
// Android, iPhone<br />
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" /><br />
</code></pre></p>
<p>viewport에 지정할 수 있는 값들을 나열하자면,</p></p>
<ul>
<li>user-scalable</li>
<li>width</li>
<li>height</li>
<li>initial-scale</li>
<li>maximum-scale</li>
<li>minimum-scale</li>
<li>target-densitydpi</li><br />
</ul></p>
<p>등이 있다.</p></p>
<h5>해상도 관련 용어들</h5></p>
<ul>
<li>dp</li>
<li>dpi</li>
<li>ppi</li>
<li>-webkit-device-pixel-ratio</li>
<li>css pixel ratio</li>
<li>media query</li><br />
</ul></p>
<h5>참고문서</h5></p>
<ul>
<li><a href="http://en.wikipedia.org/wiki/List_of_displays_by_pixel_density">Wiki - List of displays by pixel density</a></li>
<li><a href="http://developer.apple.com/library/safari/#documentation/AppleApplications/Reference/SafariHTMLRef/Articles/MetaTags.html">Safari HTML Reference - Supported Meta Tags</a> </li>
<li><a href="https://developer.mozilla.org/en-US/docs/Mobile/Viewport_meta_tag">mozilla developer - viewport meta tag</a> </li>
<li><a href="http://html.nhncorp.com/blog/textyle/42284">NULI - CSS3 media query에 대하여</a></li>
<li><a href="http://developer.android.com/guide/practices/screens_support.html">Android developer - Supporting Multiple Screens</a></li>
<li><a href="http://developer.android.com/guide/webapps/targeting.html">Android developer - Targeting Screens from Web Apps</a></li>
<li><a href="http://www.androidpub.com/1895935">주요 안드로이드 기기 개발 해상도, DIP, DP, DPI, DENSITY 정리</a></li><br />
</ul></p>
