---
layout: post
status: publish
published: true
title: "제주도 맛집 정보"
author:
  display_name: yoonsy
  login: nscorpio16
  email: nscorpio16@gmail.com
  url: http://yoonsy.kr
author_login: nscorpio16
author_email: nscorpio16@gmail.com
author_url: http://yoonsy.kr
wordpress_id: 125
wordpress_url: http://yoonsy.kr/?p=125
date: '2013-08-10 01:40:41 +0900'
date_gmt: '2013-08-10 01:40:41 +0900'
categories:
- "일상"
tags:
- "제주도"
- "맛집"
- "흑돼지"
comments:
- id: 55
  author: "지인"
  author_email: ryuhcii@gmail.com
  author_url: ''
  date: '2015-03-16 05:36:13 +0900'
  date_gmt: '2015-03-16 05:36:13 +0900'
  content: "정보 감사합니다.\r\n- 세상에서 제일 재밌는 형"
- id: 56
  author: yoonsy
  author_email: nscorpio16@gmail.com
  author_url: http://yoonsy.kr
  date: '2015-03-16 11:34:03 +0900'
  date_gmt: '2015-03-16 11:34:03 +0900'
  content: "ㅋㅋㅋㅋ 세상에서 제일 재밌는 형 ㅋㅋㅋ\r\n재밌는 형이네 ㅋㅋ"
---
<p>지인들이 제주에 놀러가면, 내가 맛집을 추천해주곤 한다. 그런데 맨날 깜빡깜빡.... 어디가 맛있었더라. 그래서 정리한다. 제주에 살면서 애용했던 맛집 리스트!</p></p>
<p>각 식당 뒤에 적힌 시각은, 제주도를 시계로 생각놓고 봤을때 시침의 위치가 해당 식당의 위치이다.</p></p>
<h4>흑돼지</h4></p>
<ul>
<li>나그네식당 / 5시</li>
<li>돈사돈 / 11시30분</li>
<li>늘봄 / 11시30분</li><br />
</ul></p>
<h4>해산물</h4></p>
<ul>
<li>네거리식당 (은갈치) / 6시</li>
<li>해녀촌식당 (회국수,갈치,고등어 등) - 2시</li>
<li>순옥이네 (물회, 해물탕, 전복 등) / 11시</li>
<li>섬마을횟집 (고급횟집) / 12시</li>
<li>모살물 (저렴한횟집) / 12시</li><br />
</ul></p>
<h4>기타</h4></p>
<ul>
<li>올레국수 (고기국수) - 12시</li><br />
</ul></p>
