---
layout: post
status: publish
published: true
title: jQuery .attr() vs .prop()
author:
  display_name: yoonsy
  login: nscorpio16
  email: nscorpio16@gmail.com
  url: http://yoonsy.kr
author_login: nscorpio16
author_email: nscorpio16@gmail.com
author_url: http://yoonsy.kr
wordpress_id: 463
wordpress_url: http://yoonsy.kr/?p=463
date: '2014-04-12 14:24:07 +0900'
date_gmt: '2014-04-12 14:24:07 +0900'
categories:
- "웹개발"
tags:
- jquery
- attr
- prop
comments: []
---
<p>원문 : http://jquery.com/upgrade-guide/1.9/#attr-versus-prop-</p></p>
<ul>
<li>
<p><code>.prop()</code> 는 properties를 get or set 할 때 사용.</p></li></p>
<li>
<p><code>.attr()</code> 을 property set 할 때는 쓰지 않는게 좋음 (deprecated)</p></li></p>
<li>
<p><code>checked</code> 나 <code>disabled</code> 와 같은 boolean attribute가 영향받는다.</p></li></p>
<li>
<p><code>input[checked]</code> 는 <code>checked</code> attribute가 있는 엘리먼트를 선택한다. (value가 뭐건, 현재 상태가 뭐건 상관안한다)</p></li></p>
<li>
<p>이와는 반대로 <code>input:checked</code> 는 현재 '체크' 된 체크박스 엘리먼트를 선택한다.</p></li><br />
</ul></p>
