---
layout: post
status: publish
published: true
title: "워드프레스 DB 백업하기"
author:
  display_name: yoonsy
  login: nscorpio16
  email: nscorpio16@gmail.com
  url: http://yoonsy.kr
author_login: nscorpio16
author_email: nscorpio16@gmail.com
author_url: http://yoonsy.kr
wordpress_id: 446
wordpress_url: http://yoonsy.kr/?p=446
date: '2014-03-08 02:49:24 +0900'
date_gmt: '2014-03-08 02:49:24 +0900'
categories:
- "웹개발"
tags:
- "워드프레스"
- "백업"
comments: []
---
<p>가끔 워드프레스 어드민에 들어와보면, 업그레이드를 권하는 공지가 떠있을때가 있다. 그리고 그 밑에 꼭! DB를 백업하라는 말과 함께. 이거, 백업하자니 귀찮고... 안하고 데이터 날렸을때를 상상해보니 끔찍하고. 그래서 이번 기회에 백업하는 절차를 좀 기록해 놓으려고 한다.</p></p>
<p>참고한 문서는 <a href="http://codex.wordpress.org/WordPress_Backups">여기</a>에 있다. 블로그에서 종종 이야기하지만, 나는 공식 문서를 신뢰하는 편이다.</p></p>
<p>참고 문서에서는 세가지 이야기를 한다.<br /><br />
1. 워드프레스 사이트 (블로그 페이지)<br />
2. 워드프레스 데이터베이스<br />
3. 백업 자동화 옵션</p></p>
<p>나는 사실 다 필요없고, DB만 살아있으면 된다. 그래서 DB백업 부분만 기록해 두겠다.</p></p>
<p>참고 문서에서는 <a href="http://codex.wordpress.org/WordPress_Backups#Simple_Backup_with_phpMyAdmin">phpMyAdmin 을 이용하는 방법을 소개하고 있다.</a></p></p>
<p>.<br /><br />
.<br /><br />
.</p></p>
<p>phpMyAdmin을 설치해야한다니... 그냥 카페24에서 백업해야겠다. 뭐 굳이 쉬운길 놔두고, 어려운길 택할 필요는 없다고 본다. 그래서 카페24 접속!</p></p>
<p>로그인을 하고, <a href="http://hosting.cafe24.com/?controller=myservice_hosting_main">호스팅 관리 메뉴</a>에 접속한다.</p></p>
<ul>
<li>왼쪽 메뉴중 백업받기/올리기 메뉴를 선택하고,  </li>
<li>DB 백업받기를 선택한다.</li>
<li>백업 완료후 FTP 접속해서 dump 파일을 다운받아놓으면 백업이 완료된다.  </li><br />
</ul></p>
<p>캡쳐화면 참고!</p></p>
<p><a href="http://yoonsy.kr/wp/wp-content/uploads/2014/03/cafe24.png"><img src="http://yoonsy.kr/wp/wp-content/uploads/2014/03/cafe24.png" alt="cafe24" width="2204" height="800" class="aligncenter size-full wp-image-447" /></a></p></p>
<p>끝!!</p></p>
<p>사실 써놓고 보니 너무 쉽고, 당연한 내용이라 좀 민망하다. 그래도 글을 쓰기 시작한게 아깝고, 혹시나 도움이 되실분들이 있을까해서 마저 써보았다.</p></p>
