---
layout: post
status: publish
published: true
title: "시사저널 GOOD TO GREAT 3.0"
author:
  display_name: yoonsy
  login: nscorpio16
  email: nscorpio16@gmail.com
  url: http://yoonsy.kr
author_login: nscorpio16
author_email: nscorpio16@gmail.com
author_url: http://yoonsy.kr
wordpress_id: 467
wordpress_url: http://yoonsy.kr/?p=467
date: '2014-04-30 10:39:57 +0900'
date_gmt: '2014-04-30 10:39:57 +0900'
categories:
- "경영"
tags:
- "경영"
- Good to great
- "굿컴퍼니"
- "시사저널"
comments: []
---
<p>시사저널 창간 25주년 기념으로 GOOD TO GREAT 3.0 컨퍼런스를 개최했다. 어떤 행사냐면, '<strong>좋은 회사 만드려면 어떻게 해야할까?</strong>'에 대해서 이야기해보고, 공유하는 자리였다. 나는 운이 좋게도 대학교 시절 교수님의 초대로 다녀올 수 있었다. 가서 들었던 강연 내용들을 간단하게 노트해보려고 한다. 많은 내용이 있었지만, 기존 관념들과 다른 새로운 포인트 혹은 중요한 사항이라고 생각한 부분들만 적으려고 한다.</p></p>
<hr />
<h5>정운찬(전 국무총리)</h5></p>
<h6>왜 Good to Great 3.0 인가?</h6></p>
<ul>
<li>좋은 기업의 첫번째 조건은 당연히 이윤 극대화이다. 하지만 그게 전부는 이야기는 아니다.</li>
<li>준법경영을 넘어선 윤리경영. 법과 게임의 법칙을 잘 알고, 지킬건 지키자.</li>
<li>중소기업과 동반 성장. 남는 파이를 주는것이 아니라 파이를 키우자.</li>
<li>(개인적으로 딱히 기억에 남는 대목은 없었다..)</li><br />
</ul></p>
<hr />
<h5>돈 스트릭랜드(전 애플 부사장, 전 코닥 부회장 )</h5></p>
<h6>What It Takes to Build a Really Great Company?</h6></p>
<ul>
<li>차별화가 중요하다. (코닥이 망해간 케이스랑, 애플이 성공한 사례를 인용)</li>
<li>Inside-Out Innovation 보다는 Outside-In Innovation을 택하라. -- 사막에 자동차가 하나 있다고 가정해보자. Inside-out은 자동차를 더 빠르고, 싸고, 이쁘게 만드는 것이라면, Outside-in은 자동차가 다니기 위한 도로를 만들고, 주유소를 만들고 하는 것들이다.</li>
<li>애플은 마켓쉐어를 먼저 목표로 잡는것(중요하게 생각하는것) 보다, 상품의 마진율을 얼마로 가져갈까를 더 중요하게 생각한다.</li><br />
</ul></p>
<hr />
<h5>써니 그로소(자포스 공동 창업자, 딜리버링 해피니스 책임자)</h5></p>
<h6>글로벌 시장과 달라진 굿컴퍼니 환경</h6></p>
<ul>
<li>고객들은 회사가 했던 말과 행동은 기억에서 잊더라도, 그 느낌만은 잊지 않는다. --> 고객 만족의 중요성 강조</li>
<li>행복한 직원 = 행복한 고객 = 회사의 성공(매출 증대)</li>
<li>직원들의 행복감을 수치화해서 볼 수 있고, 그 행복감으로 회사에 미치는 좋은 영향을 계산해볼 수 있다. <a href="http://www.deliveringhappiness.com/">여기</a>에서 무료로.</li><br />
</ul></p>
<hr />
<h5>핸드스튜디오 한준희 대표</h5></p>
<h6>젊은 벤처인이 그려본 굿 컴퍼니의 모습</h6></p>
<ul>
<li>작년 발표 기준으로 시니컬한 반응들과 그에 대한 생각에 대해 이야기함</li>
<li>그런 복지 얼마 못갈것 같은데? : 공정한 성과 시스템으로 오래 유지 </li>
<li>인원 많아지면 힘들것 같은데? : MBTI 분석을 통해 비슷한 성향의 사람들끼리 층을 분리해서 배치했다. 잘 되더라. 회사들이 직원들의 생활 양식의 다양성을 인정하지 않고, 하나로 통일 시키고 묶으려 든다.</li>
<li>아무리 잘해줘도 구성원들이 뜻대로 안움직이는데? : 기업에서 추구하는 정신이 채용시스템에 잘 녹아 있는가? 나(대표)랑 비슷한 사람을 뽑으면 된다. 스펙을 보고 뽑지말고, 자기 관리를 잘하고, 자기와의 싸움에서 1등을 뽑아라.</li>
<li>돈이 없어서 그런 복지 못해줘 : 직원이 가장 큰 행복감을 느끼는 때는 승진도 아니고, 보너스도 아니고, 자기가 진행하는 프로젝트가 잘 되고 자신의 생각대로 잘 진행되고 있을때였다. 반대로 보스와 회의를 하고 나왔을때가 가장 불행함을 느꼈다. 보스가 일의 진행 방향을 바꾸고, 실무자와는 다른 생각과 방향으로 일을 강요하기 때문. 돈이 아닌 다른 복지도 충분히 많다. 돈은 상징성이 강할뿐</li>
<li>COOL HEAD, WARM HEART - 공평한 기회와 공정한 보상을 줘라. 그리고 직원에 관심을 가져라.</li>
<li>이런 복지를 유지하고 진행하는데 가장 큰 어려움은 경력직을 뽑았을때이다. 경력직 직원들은 기존 회사 문화와 업무스타일에 익숙해져있고, 이런 문화는 안될거야 라는 편견을 강하게 가지고 있다. 그런 편견을 깨는 노력을 계속 해줘야 하고, 자극을 시켜줘야한다.</li><br />
</ul></p>
<hr />
<h5>짐 데이토 (세계미래학회 회장, 미국 하와이 대학교 정치학과 교수)</h5></p>
<h6>미래의 굿컴퍼니 &amp; Good to Great를 위한 특별 제언</h6></p>
<ul>
<li>Dream Society 그게 안되면, Conserver Society</li>
<li>IT와 여러 아티스트의 예술성을 결합해서 시너지를 내라.</li>
<li>한국은 새로운 교육 시스템이 필요 : 모든 이들의 창의력을 이끌어 내는 시스템 (일부 천재를 타겟으로 하지말고, 모두를 타겟으로)</li>
<li>실패를 해도 살아남을수 있는 시스템이 필요</li>
<li>Dream Society가 일자리를 만들어낼 수 있나? 라는 질문에 '일자리 창출을 목적으로 삼으면 안된다. 기업에 취직하는 일자리가 없어도 돌아갈 수 있는 경제생태계를 만들어야한다. K pop, 뽀로로 등의 예술작품이나 다양한 활동을 통해 부가가치를 생산할 수 있는 그런 생태계'</li><br />
</ul></p>
<hr />
<h5>김병도 서울대 경영대학원장</h5></p>
<h6>한국형 Good to Great 모델</h6></p>
<ul>
<li>존경 받는 기업은 1. 국부를 많이 만들어내고, 2. 그 국부가 기존것이 아닌 새로 창출한 것 (기존 상인들것을 빼앗아 오는게 아닌 새로 만들어내는 것) 이어야하며, 3. 새로 창출한 부가가치에서 조금만 내 몫으로 가져가는 기업. </li>
<li>존경 받는 기업은 불가능할지 모른다. 하지만 존경 받는 기업인은 존재한다.</li>
<li>위 3번의 조건에서 내 몫을 줄이는 두가지 방법 : 1. 강압적 방법 (세금을 많이 걷는다. 그런데 이 방법은 혁신의지 저하를 가져온다.) 2. 자발적 방법 : 자유의지대로 많이 나누도록 유도한다. (카네기도 기부 많이 했고, 빌게이츠를 포함한 미국 400대 부자들도 자산의 50% 기부 하는 운동을 펼쳤다.)</li><br />
</ul></p>
