---
layout: post
status: publish
published: true
title: Ruby On Rails 를 Heroku 에서 실행시키기
author:
  display_name: yoonsy
  login: nscorpio16
  email: nscorpio16@gmail.com
  url: http://yoonsy.kr
author_login: nscorpio16
author_email: nscorpio16@gmail.com
author_url: http://yoonsy.kr
wordpress_id: 441
wordpress_url: http://yoonsy.kr/?p=441
date: '2014-03-07 17:28:49 +0900'
date_gmt: '2014-03-07 17:28:49 +0900'
categories:
- "웹개발"
tags:
- ruby on rails
- heroku
- PaaS
- AWS
- GAE
comments:
- id: 52
  author: pureugong
  author_email: pureugong@gmail.com
  author_url: ''
  date: '2014-12-26 12:05:17 +0900'
  date_gmt: '2014-12-26 12:05:17 +0900'
  content: "질문이 있어 여기서 댓글을 남겨봅니다.\r\nHeroku로 배포한 RoR Porject의 url을 따로 구매한 도메인주소를 이용해
    pointing하는 방법에 대해 궁금합니다."
- id: 54
  author: yoonsy
  author_email: nscorpio16@gmail.com
  author_url: http://yoonsy.kr
  date: '2014-12-28 08:44:29 +0900'
  date_gmt: '2014-12-28 08:44:29 +0900'
  content: "저도 사용해본적은 없어서 잘은 모르겠지만, 간단히 구글 검색해봤을때, https://devcenter.heroku.com/articles/custom-domains
    이 문서를 참고하면 좋지 않을까 하는 생각이 드네요~"
---
<p>오랜만에 글을 쓴다. 이번 글에서 하고자 하는 이야기는 아래와 같다.</p></p>
<ul>
<li>로컬 서버를 외부에서 쉽게 접근할 수 있도록 하기</li>
<li><a href="https://www.heroku.com/">Heroku</a> 를 이용해서 쉽게 배포하기</li>
<li>Heroku 에서 scheduler를 무료로 사용하기</li><br />
</ul></p>
<p>가끔 개인 프로젝트를 진행하곤 하는데, 보통 로컬에서 서버를 띄워서 개발한다. 그러다 주위의 누구에게 보여주고 싶을때는 <a href="http://progrium.com/localtunnel/">localtunnel</a> 과 같은 서비스를 이용해서 보여주면 된다. (이번 프로젝트에서는 localtunnel 서비스가 잠깐 에러가 나서 그 대안으로 <a href="https://ngrok.com/">ngrok</a> 을 써봤다.)</p></p>
<hr />
<p>localtunnel 같은 서비스를 쓰다보면 내 로컬 서버가 켜져 있어야하는데, 그것과 상관없이 어플리케이션을 실행하기 위해서 <a href="http://ko.wikipedia.org/wiki/PaaS">PaaS</a> 를 사용하기로 했다. PaaS 의 후보로는 <a href="http://aws.amazon.com/ko/">AWS</a>, <a href="https://developers.google.com/appengine/?hl=ko">Google App Engine</a>, <a href="https://www.heroku.com/">Heroku</a> 등이 있었는데, 결론부터 이야기하자면 Heroku를 선택했다. Heroku를 선택한 기준은 아래와 같다.</p></p>
<ul>
<li>Ruby On Rails 지원</li>
<li>무료</li>
<li>배포등의 절차의 간편함 </li><br />
</ul></p>
<p>AWS 는 Free tier 라는 제도(?)가 있는데, 1년동안 가벼운 서비스는 무료로 사용할 수 있다. 하지만 나는 이미 1년을 사용해버려서 탈락.<br /><br />
Google App Engine 은 Ruby On Rails 를 지원하지 않아서 탈락. JAVA, Python 그리고 또 뭘 지원하더라...?<br /><br />
그래서 Heroku 가 유력한 후보로 떠올랐는데, 이리저리 찾아보니 꽤 괜찮았다. (뭐 예전부터 워낙 이야기를 많이 들어서 명성은 알고 있었지만)</p></p>
<p>간단히 Heroku의 특장점을 이야기 하고 넘어가자면,</p></p>
<ul>
<li><code>heroku create</code> 라는 간단한 명령어로 앱 생성</li>
<li><code>git push</code> 로 쉬운 배포</li>
<li>월 750시간 이내의 조건으로 웹서버 하나 무료</li>
<li>RoR 기본 DB인 sqlite 미지원 (PostgreSQL을 권장)</li><br />
</ul></p>
<p>개인 프로젝트를 진행하기에는 충분한 조건이라고 생각한다.</p></p>
<p>Heroku 를 제대로 써본건 처음이었기에 가이드 문서가 필요했는데, 나는 <a href="https://devcenter.heroku.com/articles/getting-started-with-rails4">Heroku 공식 문서</a> 를 참고했다. 검색을 해보면 한글로 된 블로그 포스팅도 몇 개 나오는데, 나는 공식 문서를 좀 더 신뢰하는 편이라 안되는 영어 해석해가면서 시도해봤다. 생각보다 정말 쉬웠다.</p></p>
<p>그렇게 웹 어플리케이션을 배포하고, 잘 돌아가는지 확인하는데 성공했다. Heroku를 쓰기로 결정하고 나서부터 1시간 정도 걸렸던 것 같다. (예전에 AWS 셋팅할때는 훨씬 더 걸렸었다;)</p></p>
<hr />
<p>이번 개인 프로젝트에서는 30분마다 데이터를 넣어줘야하는 작업이 필요해서 스케쥴링 작업이 추가로 필요했다. 이번에도 공식 문서를 찾아보니 <a href="https://devcenter.heroku.com/articles/scheduler">Heroku Scheduler</a> 라는 Add-on을 소개해준다. 이 애드온은 무료이지만 서버가 스케쥴링 작업을 할 때 코스트가 발생하는데, 그 비용은 부담해야한다. 다른 말로 무료로 사용할 수 없다 라는 이야기라서 검색을 좀 더 해봤다. 다행히 <a href="http://stackoverflow.com/questions/10956540/do-heroku-scheduler-tasks-cost-money">스택오버플로우에 답변</a>이 올라와 있었다.</p></p>
<p>간단히 요약하자면 스케쥴 작업이 오래걸리지 않는다면, 공짜로 사용가능하다는 내용이다. 내가 찾던 그 내용!! 어떻게 무료로 사용가능하냐면, Heroku는 월 750시간을 무료로 제공하는데, 한달을 31일로 잡고, 시간으로 환산해보면 744시간이다. 그러므로 6시간이 남고, 6시간 내에서 스케쥴링 작업을 다 수행할수 있다면 무료로 사용가능하다는 이야기이다. 나는 이 방법을 택했다.</p></p>
<p>테스트 하는 과정에서 서버 비용이 발생하지 않기를 바랬는데, 그 바람이 이뤄질 것 같다. 아싸~!</p></p>
