---
layout: page
status: publish
published: true
title: "좋아하는 문구"
author:
  display_name: yoonsy
  login: nscorpio16
  email: nscorpio16@gmail.com
  url: http://yoonsy.kr
author_login: nscorpio16
author_email: nscorpio16@gmail.com
author_url: http://yoonsy.kr
wordpress_id: 153
wordpress_url: http://yoonsy.kr/?page_id=153
date: '2012-10-25 07:25:00 +0900'
date_gmt: '2012-10-25 07:25:00 +0900'
categories: []
tags: []
comments: []
---
<p><strong>"Done is better than Perfect"</strong> &nbsp;</p></p>
<p><strong>"현재를 즐길줄 아는 사람이 행복한 사람이다."</strong> &nbsp; &nbsp; &nbsp;</p></p>
<p>"사람이 변하는 방법은 세가지 뿐이다. '시간'을 달리 쓰는것. 사는 '환경'을 바꾸는 것. 새로운 '사람'을 사귀는 것. 이 세가지 방법이 아니면 사람은 변하지 않는다. 가장 무의미한 행위는 새로운 결심을 하는 것이다."<br />
- 오마에 겐이치.</p></p>
