---
layout: page
status: draft
title: "나만의 스토리"
author:
  display_name: yoonsy
  login: nscorpio16
  email: nscorpio16@gmail.com
  url: http://yoonsy.kr
author_login: nscorpio16
author_email: nscorpio16@gmail.com
author_url: http://yoonsy.kr
wordpress_id: 98
wordpress_url: http://yoonsy.kr/?page_id=98
date: '2012-10-04 05:06:08 +0900'
date_gmt: '2012-10-04 05:06:08 +0900'
categories: []
tags: []
comments: []
---
<ol>
<li>10년간 모은 유럽여행자금</li><li>고2 꼴지에서 고3 5등으로.</li><li>남들과 다른 대학생활로 Daum 취업 - 동아리, 스터디, 무전여행, 유럽여행, 공모전 - 학점X, 토익 대신 OPIc, 삼성 대신 시장을 본 안드로이드 인턴</li><li>구글코리아 인터뷰</li><li>남들과 다른선택 - 개발자에서 마케터로의 커리어 변경</li><li>마케터로서의 준비과정 - 마케터의 기본 자세는 고객지향마인드, 남들과 차별화된 관점이라고 생각합니다. 위에 기록했던 저의 살아왔던 이력들이 이것을 증명합니다. &nbsp;남들과 다른 선택들이었고, 그 선택에 있어 후회하지 않고, 결과 또한 나쁘지 않았습니다. 그 선택은 남이 해준 선택이 아니었습니다. 객관적인 사실에 근거한 저만의 차별화된 선택이었습니다. Daum이라는 회사를 나오면서도, 주위사람들은 개발자가 마케터가 된다는것은 불가능할거라 만류했습니다. 하지만 저는 보여주고 싶습니다. 이 세상에 안되는것은 없다는것을. &nbsp; 논리적사고와 마케팅의 연계점 찾아보기. 그리고 추가로 논리적인 관점을 말씀드리고 싶습니다. 컴퓨터공학의 기본적인 사고는 분석과 논리에 있습니다. 그것을 전공한것이 저만의 강점이라고 생각합니다.</li><br />
</ol></p>
