---
layout: page
status: draft
title: "소개"
author:
  display_name: yoonsy
  login: nscorpio16
  email: nscorpio16@gmail.com
  url: http://yoonsy.kr
author_login: nscorpio16
author_email: nscorpio16@gmail.com
author_url: http://yoonsy.kr
wordpress_id: 184
wordpress_url: http://yoonsy.kr/?page_id=184
date: '2012-10-31 01:04:53 +0900'
categories: []
tags: []
comments: []
---
<p><strong>자존심강하고, 고집 센 아이</strong></p>
<p>&nbsp;</p>
<p>선생님 말씀을 나 좋을대로 해석한 중학교 시절</p>
<p>초등학교를 졸업할때 쯤, 주위 어른들께서 조언들을 마구마구 해주셨다. 대부분은 내용은 당연히 공부에 관한것이었고, 1학년 첫시험 때 잘해놓으면, 고등학교 졸업때까지 유지 된다는 내용이었다. 그 덕분에 나는 1학년 1학기 중간고사를 제외하고는 3년동안 공부한 기억이 거의 없는것 같다. 그 결과 전교에서 놀던 내 등수는 졸업할때쯤에는 인문계 고등학교에 겨우 진학할 정도로 떨어졌었다.</p>
<p>어쨌든 겨우겨우 고등학교 배정받고, 아버지와 내생에 첫 해외여행을 다녀왔다. 이때 우리집 형편이 넉넉치 못했었는데 부모님께 무리해서 보내신것 같다. 아들놈 넓은 시야를 가지게 하려고. 그 덕분에 나는 일본에서 문화충격을 받고, 생각을 조금이나마 열어놓을수 있었던것 같다.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
